<header>
   <p  style='font-size:36px;font-family:Arial; color:#F0F0F0; background-color: #00233c; padding-left: 20pt; padding-top: 20pt;padding-bottom: 10pt; padding-right: 20pt;'>
      tdplyr R Basics
  <br>
       <img id="teradata-logo" src="https://storage.googleapis.com/clearscape_analytics_demo_data/DEMO_Logo/teradata.svg" alt="Teradata" style="width: 125px; height: auto; margin-top: 20pt;">
    </p>
</header>
<p style = 'font-size:16px;font-family:Arial;color:#00233C'>The Teradata Package for R (tdplyr) is an open-source R library package that combines the benefits of open-source R language environment with the massive parallel processing capabilities of Teradata Vantage, which includes the Machine Learning Engine analytic functions and the Analytics Database in-database analytic functions. Teradata Package for R allows users to develop and run R programs that take advantage of the Big Data and Machine Learning analytics capabilities of Vantage, and can be used in conjunction with open source R capabilities. Moreover, the tdplyr package conforms and works with the functions of the dbplyr package and most of the verbs of the dplyr package.</p>
  
<p style = 'font-size:16px;font-family:Arial;color:#00233C'>This notebook will cover the very basics of the tdplyr package and is a technical demonstration of different functionalities of Teradataml. This is not a business outcome type demo.  Please see the Getting Started Guide online <a href = 'https://docs.teradata.com/search/all?query=Introduction+to+Teradata+Package+for+R&filters=prodname~%2522Teradata+Package+for+R%2522&content-lang=en-US'>here.</a></p>

<hr style="height:2px;border:none;background-color:#00233C;">
<p style = 'font-size:20px;font-family:Arial;color:#00233C'><b>1. Install and load the necessary Packages and Libraries</b></p>
<p style = 'font-size:16px;font-family:Arial;color:#00233C'>
Installing R only needs to be done once for this environment.
<br><br>
To install the package, copy this line into the clipboard:
<blockquote><i>
Rscript -e "install.packages('tdplyr',repos=c('https://r-repo.teradata.com','https://cloud.r-project.org'))"
</i></blockquote> </p>
<p style = 'font-size:16px;font-family:Arial;color:#00233C'>Open a terminal window by selecting File --> New --> and the select Terminal.  Then paste the line at the Command Prompt and press Enter.  This will take a few minutes.  It's finished when you are returned to the <b>(base) jovyan@de76f2e68a54:~/JupyterLabRoot$ </b> Command Prompt.
</p>

In [1]:
suppressWarnings({
library(tdplyr)
library(dbplyr)
library(dplyr)
library(DBI)    
    })

Registered S3 methods overwritten by 'tdplyr':
  method                     from
  sql_query_select.Teradata  dbplyr
  sql_table_analyze.Teradata dbplyr
  sql_translation.Teradata   dbplyr


Attaching package: ‘dplyr’


The following objects are masked from ‘package:dbplyr’:

    ident, sql


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

<p style = 'font-size:16px;font-family:Arial;color:#00233C'>Help function will list all the documentation related to tdplyr package.</p>

In [2]:
help(package='tdplyr')

Documentation for package ‘tdplyr’


		Information on package ‘tdplyr’

Description:

Package:              tdplyr
Type:                 Package
Title:                Teradata R Package
Version:              17.20.00.00
Date:                 2018-12-07
Author:               Waman Joshi, Mark Sandan, Arun Kalyanasundaram,
                      Karthik Thelukuntla, Pankaj Vinod Purandare,
                      Trupti A Purohit, Amanda Moran, Jeris Alan
                      Jawahar, Adithya Avvaru, Mounika Kotha, Rohit
                      Khurd, Pavansai Kumar Alladi, Rohit Agrawal,
                      Gouri Patwardhan, Subhash Karemore, Aanchal
                      Kavedia
Maintainer:           Analytic-Clients, Support <SA230577@teradata.com>
LazyData:             yes
Depends:              R (>= 3.6.3)
Imports:              DBI (>= 1.0.0), dplyr (>= 1.1.0), dbplyr (>=
                      2.3.2), jsonlite (>= 1.7), magrittr (>= 1.5),
                      teradatasql (>= 17.20.0.26), rlang (>= 1.0.6),
                      cli (>= 3.4.1), bit64, purrr (>= 1.0.1), methods,
                      R6 (>= 2.5.1), coro (>= 1.0.3), stringr (>=
                      1.5.0)
Suggests:             knitr, rmarkdown, odbc (>= 1.1.5), ggplot2
SystemRequirements:   Teradata SQL driver for R
Description:          This package enables users to access Teradata
                      Vantage analytic functions using the R language.
License:              file LICENSE + file THIRDPARTYLICENSE
RoxygenNote:          7.2.3
VignetteBuilder:      knitr
Encoding:             UTF-8
NeedsCompilation:     no
Packaged:             2024-03-27 13:01:22 UTC; Administrator
Built:                R 4.1.3; ; 2024-08-13 13:28:26 UTC; unix

Index:

16.20_td_antiselect_sqle
                        Antiselect
16.20_td_attribution_sqle
                        Attribution
16.20_td_decision_forest_predict_mle_sqle
                        DecisionForestPredict
16.20_td_decision_tree_predict_mle_sqle
                        DecisionTreePredict
16.20_td_glm_predict_mle_sqle
                        GLMPredict
16.20_td_moving_average_sqle
                        MovingAverage
16.20_td_naivebayes_predict_mle_sqle
                        NaiveBayesPredict
16.20_td_naivebayes_textclassifier_predict_mle_sqle
                        NaiveBayesTextClassifierPredict
16.20_td_ngramsplitter_sqle
                        NGramSplitter
16.20_td_npath_sqle     Pattern Matching with Teradata nPath
16.20_td_pack_sqle      Pack
16.20_td_sessionize_sqle
                        Sessionize
16.20_td_string_similarity_sqle
                        StringSimilarity
16.20_td_svm_sparse_predict_mle_sqle
                        SparseSVMPredictor
16.20_td_unpack_sqle    Unpack
17.00_td_read_nos_sqle
                        ReadNOS
17.05_td_write_nos_sqle
                        WriteNOS
17.10_td_antiselect_sqle
                        Antiselect
17.10_td_attribution_sqle
                        Attribution
17.10_td_bincode_fit_sqle
                        BincodeFit
17.10_td_bincode_transform_sqle
                        BincodeTransform
17.10_td_categorical_summary_sqle
                        CategoricalSummary
17.10_td_chi_sq_sqle    ChiSq
17.10_td_column_summary_sqle
                        ColumnSummary
17.10_td_convert_to_sqle
                        ConvertTo
17.10_td_decision_forest_predict_mle_sqle
                        DecisionForestPredict
17.10_td_decision_tree_predict_mle_sqle
                        DecisionTreePredict
17.10_td_fill_row_id_sqle
                        FillRowId
17.10_td_fit_sqle       Fit
17.10_td_ftest_sqle     FTest
17.10_td_get_rows_with_missing_values_sqle
                        GetRowsWithMissingValues
17.10_td_get_rows_without_missing_values_sqle
                        GetRowsWithoutMissingValues
17.10_td_glm_predict_mle_sqle
                        GLMPredict
17.10_td_histogram_sqle
                        Histogram
17.10_td_moving_average_sqle
                        MovingAverage
17.10_td_naivebayes_predict_mle_sqle
                        NaiveBayesPredict
17.10_td_naivebayes_textclassifier_predict_mle_sqle
                        NaiveBayesTextClassifierPredict
17.10_td_ngramsplitter_sqle
                        NGramSplitter
17.10_td_npath_sqle     NPath
17.10_td_num_apply_sqle
                        NumApply
17.10_td_one_hot_encoding_fit_sqle
                        OneHotEncodingFit
17.10_td_one_hot_encoding_transform_sqle
                        OneHotEncodingTransform
17.10_td_outlier_filter_fit_sqle
                        OutlierFilterFit
17.10_td_outlier_filter_transform_sqle
                        OutlierFilterTransform
17.10_td_pack_sqle      Pack
17.10_td_polynomial_features_fit_sqle
                        PolynomialFeaturesFit
17.10_td_polynomial_features_transform_sqle
                        PolynomialFeaturesTransform
17.10_td_qq_norm_sqle   QQNorm
17.10_td_read_nos_sqle
                        ReadNOS
17.10_td_round_columns_sqle
                        RoundColumns
17.10_td_row_normalize_fit_sqle
                        RowNormalizeFit
17.10_td_row_normalize_transform_sqle
                        RowNormalizeTransform
17.10_td_scale_fit_sqle
                        ScaleFit
17.10_td_scale_transform_sqle
                        ScaleTransform
17.10_td_sessionize_sqle
                        Sessionize
17.10_td_simple_impute_fit_sqle
                        SimpleImputeFit
17.10_td_simple_impute_transform_sqle
                        SimpleImputeTransform
17.10_td_str_apply_sqle
                        StrApply
17.10_td_string_similarity_sqle
                        StringSimilarity
17.10_td_svm_sparse_predict_mle_sqle
                        SVMSparsePredict
17.10_td_transform_sqle
                        Transform
17.10_td_univariate_statistics_sqle
                        UnivariateStatistics
17.10_td_unpack_sqle    Unpack
17.10_td_which_max_sqle
                        WhichMax
17.10_td_which_min_sqle
                        WhichMin
17.10_td_ztest_sqle     ZTest
17.20_td_anova_sqle     ANOVA
17.20_td_classification_evaluator_sqle
                        ClassificationEvaluator
17.20_td_column_transformer_sqle
                        ColumnTransformer
17.20_td_convert_to_sqle
                        ConvertTo
17.20_td_decision_forest_predict_sqle
                        TDDecisionForestPredict
17.20_td_decision_forest_sqle
                        DecisionForest
17.20_td_get_futile_columns_sqle
                        GetFutileColumns
17.20_td_get_rows_with_missing_values_sqle
                        GetRowsWithMissingValues
17.20_td_get_rows_without_missing_values_sqle
                        GetRowsWithoutMissingValues
17.20_td_glm_per_segment_sqle
                        GLMPerSegment
17.20_td_glm_predict_per_segment_sqle
                        GLMPredictPerSegment
17.20_td_glm_predict_sqle
                        TDGLMPredict
17.20_td_glm_sqle       GLM
17.20_td_histogram_sqle
                        Histogram
17.20_td_kmeans_predict_sqle
                        KMeansPredict
17.20_td_kmeans_sqle    KMeans
17.20_td_knn_sqle       KNN
17.20_td_naivebayes_textclassifier_predict_sqle
                        NaiveBayesTextClassifierPredict
17.20_td_naivebayes_textclassifier_trainer_sqle
                        NaiveBayesTextClassifierTrainer
17.20_td_non_linear_combine_fit_sqle
                        NonLinearCombineFit
17.20_td_non_linear_combine_transform_sqle
                        NonLinearCombineTransform
17.20_td_one_class_svm_predict_sqle
                        OneClassSVMPredict
17.20_td_one_class_svm_sqle
                        OneClassSVM
17.20_td_one_hot_encoding_fit_sqle
                        OneHotEncodingFit
17.20_td_ordinal_encoding_fit_sqle
                        OrdinalEncodingFit
17.20_td_ordinal_encoding_transform_sqle
                        OrdinalEncodingTransform
17.20_td_outlier_filter_fit_sqle
                        OutlierFilterFit
17.20_td_random_projection_fit_sqle
                        RandomProjectionFit
17.20_td_random_projection_min_components_sqle
                        RandomProjectionMinComponents
17.20_td_random_projection_transform_sqle
                        RandomProjectionTransform
17.20_td_read_nos_sqle
                        ReadNOS
17.20_td_regression_evaluator_sqle
                        RegressionEvaluator
17.20_td_roc_sqle       ROC
17.20_td_sentiment_extractor_sqle
                        SentimentExtractor
17.20_td_silhouette_sqle
                        Silhouette
17.20_td_svm_predict_sqle
                        SVMPredict
17.20_td_svm_sqle       SVM
17.20_td_target_encoding_fit_sqle
                        TargetEncodingFit
17.20_td_target_encoding_transform_sqle
                        TargetEncodingTransform
17.20_td_text_parser_sqle
                        TextParser
17.20_td_train_test_split_sqle
                        TrainTestSplit
17.20_td_vector_distance_sqle
                        VectorDistance
17.20_td_word_embeddings_sqle
                        WordEmbeddings
17.20_td_write_nos_sqle
                        WriteNOS
17.20_td_xgboost_predict_sqle
                        XGBoostPredict
17.20_td_xgboost_sqle   XGBoost
attach_attributes       Attach attributes to the tbl_teradata object.
copy_to.Teradata        Copy a local dataframe to a remote data source
db_analyze.Teradata     Analyze the table
db_compute.Teradata     Creates a Table
db_save_query.Teradata
                        Creates a Table
dbConnect,NativeDriver-method
                        Connect to Teradata Vantage using the Teradata
                        SQL driver for R
display_analytic_functions
                        display_analytic_functions
group_by_time           Group by Time for PTI and non-PTI tables
loadExampleData         Loading example data for tdplyr functions
NativeDriver            Teradata Native Driver
NativeDriver-class      Teradata Native Driver Class
PartitionKind           PartitionKind Class
predict                 tdplyr: Model Predictions
print.td_analytics      Printing tdplyr Analytic Function Objects
Script                  Creates and initializes an object of
                        "ScriptTableOperator" class.
show_query.td_analytics_valib
                        Get SQL query
sql_query_save.Teradata
                        Builds a create table query from a SQL
sql_table_analyze.Teradata
                        Creates query to analyze the table
sql-translation         SQL Translation Extensions
summarise.tbl_teradata
                        Summarise a grouped or ungrouped column
td_adaboost_mle         AdaBoost
td_adaboost_predict_mle
                        AdaBoostPredict
td_adaptive_histogram_valib
                        Descriptive Statistics Function:
                        AdaptiveHistogram
td_anova_sqle           ANOVA
td_antiselect_mle       Antiselect
td_antiselect_sqle      Antiselect
td_arima_mle            Arima
td_arima_predict_mle    ARIMAPredict
td_association_valib    Association Rules
td_attribution_mle      Attribution
td_attribution_sqle     Attribution
td_bincode_fit_sqle     BincodeFit
td_bincode_transform_sqle
                        BincodeTransform
td_binomial_test_valib
                        Binomial Tests
td_burst_mle            Burst
td_categorical_summary_sqle
                        CategoricalSummary
td_ccm_mle              CCM
td_ccm_prepare_mle      CCMPrepare
td_cfilter_mle          CFilter
td_changepoint_detection_mle
                        ChangePointDetection
td_changepoint_detection_rt_mle
                        RealTimeChangePointDetection
td_chi_sq_sqle          ChiSq
td_chi_square_test_valib
                        Tests Based on Contingency Tables
td_classification_evaluator_sqle
                        ClassificationEvaluator
td_cleanup_sandbox_env
                        Cleanup Sandbox Environment
td_column_summary_sqle
                        ColumnSummary
td_column_transformer_sqle
                        ColumnTransformer
td_confusion_matrix_mle
                        ConfusionMatrix
td_convert_to_sqle      ConvertTo
td_copy_files_from_container
                        Copy files from container
td_cox_hazard_ratio_mle
                        CoxHazardRatio
td_cox_survival_mle     CoxSurvival
td_coxph_mle            CoxPH
td_create_context       Create a Context to run analytic functions on
                        Teradata Vantage
td_cumulative_mov_avg_mle
                        CumulativeMovAvg
td_data_robot_predict_sqle
                        DataRobotPredict
td_dataiku_predict_sqle
                        DataikuPredict
td_decision_forest_evaluator_mle
                        DecisionForestEvaluator
td_decision_forest_mle
                        DecisionForest
td_decision_forest_predict_mle
                        DecisionForestPredict
td_decision_forest_predict_mle_sqle
                        DecisionForestPredict
td_decision_forest_predict_sqle
                        TDDecisionForestPredict
td_decision_forest_sqle
                        DecisionForest
td_decision_tree_evaluator_valib
                        Gain Ratio Decision Tree Evaluator
td_decision_tree_mle    DecisionTree
td_decision_tree_predict_mle
                        DecisionTreePredict
td_decision_tree_predict_mle_sqle
                        DecisionTreePredict
td_decision_tree_predict_valib
                        Gain Ratio Decision Tree Predict
td_decision_tree_valib
                        Gain Ratio Decision Tree
td_delete_model         td_delete_model
td_describe_model       td_describe_model
td_dtw_mle              DTW
td_dwt_mle              DWT
td_dwt2d_mle            DWT2D
td_execute_script       Execute user script
td_execute_script.ScriptTableOperator
                        Execute script using Script Table Operator.
td_explore_valib        Descriptive Statistics Function: Explore
td_exponential_mov_avg_mle
                        ExponentialMovAvg
td_fastexport           FastExport to extract data
td_fastload             Copy a local dataframe to a remote data source
                        using fastload protocol
td_fill_row_id_sqle     FillRowId
td_fit_sqle             FunctionFit
td_fpgrowth_mle         FPGrowth
td_frequency_valib      Descriptive Statistics Function: Frequency
td_ftest_sqle           FTest
td_get_context          Get the current context
td_get_futile_columns_sqle
                        GetFutileColumns
td_get_rows_with_missing_values_sqle
                        GetRowsWithMissingValues
td_get_rows_without_missing_values_sqle
                        GetRowsWithoutMissingValues
td_glm_mle              GLM
td_glm_per_segment_sqle
                        GLMPerSegment
td_glm_predict_mle      GLMPredict
td_glm_predict_mle_sqle
                        GLMPredict
td_glm_predict_per_segment_sqle
                        GLMPredictPerSegment
td_glm_predict_sqle     TDGLMPredict
td_glm_sqle             GLM
td_glml1l2_mle          GLML1L2
td_glml1l2_predict_mle
                        GLML1L2Predict
td_h2o_predict_sqle     H2OPredict
td_histogram_mle        Histogram
td_histogram_sqle       Histogram
td_histogram_valib      Descriptive Statistics Function: Histogram
td_hmm_decoder_mle      HMMDecoder
td_hmm_evaluator_mle    HMMEvaluator
td_hmm_supervised_mle   HMMSupervisedLearner
td_hmm_unsupervised_mle
                        HMMUnsupervisedLearner
td_idwt_mle             IDWT
td_idwt2d_mle           IDWT2D
td_install_file         Install or replace file in Vantage
td_kmeans_mle           KMeans
td_kmeans_predict_sqle
                        KMeansPredict
td_kmeans_predict_valib
                        K-Means Clustering Predict.
td_kmeans_sqle          KMeans
td_kmeans_valib         K-Means Clustering.
td_knn_mle              KNN
td_knn_recommender_mle
                        KNNRecommenderTrain
td_knn_recommender_predict_mle
                        KNNRecommenderPredict
td_knn_sqle             KNN
td_ks_test_valib        Kolmogorov-Smirnoff Tests
td_lar_mle              LAR
td_lar_predict_mle      LARPredict
td_lda_inference_mle    LDAInference
td_lda_mle              LDATrainer
td_lda_topic_summary_mle
                        LDATopicSummary
td_levenshtein_distance_mle
                        Levenshtein Distance (LDist)
td_lin_reg_evaluator_valib
                        Linear Regression Evaluator
td_lin_reg_mle          Linear Regression
td_lin_reg_predict_valib
                        Linear Regression Predict
td_lin_reg_valib        Linear Regression
td_linreg_predict_mle   LinearRegressionPredict
td_list_models          td_list_models
td_log_reg_evaluator_valib
                        Logistic Regression Evaluator
td_log_reg_predict_valib
                        Logistic Regression Predict
td_log_reg_valib        Logistic Regression
td_matrix_valib         Matrix Building
td_minhash_mle          MinHash
td_modularity_mle       Modularity
td_moving_average_sqle
                        MovingAverage
td_naivebayes_mle       NaiveBayes
td_naivebayes_predict_mle
                        NaiveBayesPredict
td_naivebayes_predict_mle_sqle
                        NaiveBayesPredict
td_naivebayes_textclassifier_mle
                        NaiveBayesTextClassifierTrainer
td_naivebayes_textclassifier_predict_mle
                        NaiveBayesTextClassifierPredict
td_naivebayes_textclassifier_predict_mle_sqle
                        NaiveBayesTextClassifierPredict
td_naivebayes_textclassifier_predict_sqle
                        NaiveBayesTextClassifierPredict
td_naivebayes_textclassifier_trainer_sqle
                        NaiveBayesTextClassifierTrainer
td_namedentity_finder_evaluator_mle
                        NamedEntityFinderEvaluator
td_namedentity_finder_mle
                        NamedEntityFinder
td_namedentity_finder_trainer_mle
                        TrainNamedEntityFinder
td_ngramsplitter_mle    nGrams
td_ngramsplitter_sqle   NGramSplitter
td_non_linear_combine_fit_sqle
                        NonLinearCombineFit
td_non_linear_combine_transform_sqle
                        NonLinearCombineTransform
td_npath_mle            Pattern Matching with nPath.
td_npath_sqle           nPath
td_nrow                 Number of rows in a data.frame or a tibble
                        object
td_ntree_mle            NTree
td_num_apply_sqle       NumApply
td_one_class_svm_predict_sqle
                        OneClassSVMPredict
td_one_class_svm_sqle   OneClassSVM
td_one_hot_encoding_fit_sqle
                        OneHotEncodingFit
td_one_hot_encoding_transform
                        OneHotEncodingTransform
td_onnx_predict_sqle    ONNXPredict
td_ordinal_encoding_fit_sqle
                        OrdinalEncodingFit
td_ordinal_encoding_transform_sqle
                        OrdinalEncodingTransform
td_outlier_filter_fit_sqle
                        OutlierFilterFit
td_outlier_filter_transform_sqle
                        OutlierFilterTransform
td_overlap_valib        Overlap
td_pack_mle             Pack
td_pack_sqle            Pack
td_page_rank_mle        PageRank
td_parametric_test_valib
                        Parametric Tests
td_path_analyzer_mle    PathAnalyzer
td_path_generator_mle   PathGenerator
td_path_start_mle       PathStart
td_path_summarizer_mle
                        PathSummarizer
td_pca_evaluator_valib
                        Factor Analysis Evaluator
td_pca_predict_valib    Factor Analysis Scoring
td_pca_valib            Factor Analysis
td_pivot_mle            Pivot
td_pmml_predict_sqle    PMMLPredict
td_polynomial_features_fit_sqle
                        PolynomialFeaturesFit
td_polynomial_features_transform_sqle
                        PolynomialFeaturesFit
td_pos_tagger_mle       POSTagger
td_publish_model        td_publish_model
td_qq_norm_sqle         QQNorm
td_random_projection_fit_sqle
                        RandomProjectionFit
td_random_projection_min_components_sqle

<p style = 'font-size:16px;font-family:Arial;color:#00233C'>Below code is used to check the tdplyr package version installed.</p>

In [3]:
packageVersion("tdplyr")

[1] ‘17.20.0.0’

<hr style="height:2px;border:none;background-color:#00233C;">
<p style = 'font-size:20px;font-family:Arial;color:#00233C'><b>2. Connect to Vantage</b>
<p style = 'font-size:16px;font-family:Arial;color:#00233C'>You will be prompted to provide the password. Enter your password, press the Enter key, then use down arrow to go to next cell.</p>

In [4]:
con <- td_create_context(host = 'host.docker.internal', uid = "demo_user", pwd = getPass("Enter your password: "), dType = "NATIVE", logmech = "TD2")

Enter your password:  ········

<p style = 'font-size:16px;font-family:Arial;color:#00233C'>Set the queryband, below code will set the queryband for the session.</p>

In [5]:
dbExecute(con,"SET query_band='DEMO=tdplyr_R_Basics.ipynb;' UPDATE FOR SESSION;")

[1] 1

<hr style="height:2px;border:none;background-color:#00233C;">
<p style = 'font-size:20px;font-family:Arial;color:#00233C'><b>3. Getting Data for This Demo</b></p>
<p style = 'font-size:16px;font-family:Arial;color:#00233C'>We have provided data for this demo on cloud storage.  You have the option of either running the demo using foreign tables to access the data without using any storage on your environment or downloading the data to local storage which may yield somewhat faster execution, but there could be considerations of available storage.  There are two statements in the following cell, and one is commented out.  You may switch which mode you choose by changing the comment string.</p>

In [6]:
dbExecute(con,"call get_data('DEMO_DataScienceExploration_local');") 
#takes 2min to load the data

[1] 0

<hr style="height:2px;border:none;background-color:#00233C;">
<p style = 'font-size:20px;font-family:Arial;color:#00233C'><b>4. Creating a tibble from a Table in Vantage</b>
<p style = 'font-size:16px;font-family:Arial;color:#00233C'>The tbl() function of the "dplyr" package creates a tdplyr tibble from an existing table in a database in Vantage.<br>
A tdplyr tibble is an R table that resembles an R tibble, that is, a form of data frame. The difference between a tdplyr tibble and an R tibble is that the output object of tbl() function shows that a tdplyr tibble is a remote source in a database in Vantage.</p>

In [7]:
tdf <- tbl(con, in_schema("DEMO_DataScienceExploration", "House_Prices"))
tdf

# Source:   table<"DEMO_DataScienceExploration"."House_Prices"> [?? x 21]
# Database: Teradata
        id date         price bedrooms bathrooms sqft_living sqft_lot floors
   <int64> <date>       <dbl>    <int>     <dbl>       <dbl>    <dbl>  <dbl>
 1   78876 2014-05-29 1355000        5      3.5         5960    13703    2
 2   36889 2014-05-05  418000        3      2           1410     6030    1.5
 3   11603 2014-08-13  275000        2      1.75        2090    11317    1
 4   79345 2014-06-25  957000        5      3.25        3160     5000    2
 5    9054 2015-03-26  292500        4      2.5         1610     4568    2
 6   54059 2015-02-19  700000        4      2           2230     4635    1.5
 7   17639 2014-05-12  300000        2      1.75        1360     8100    1
 8   34340 2014-11-19 1010000        4      3.5         3350     3752    2
 9   62175 2014-11-18  422500        4      2.5         2550     8824    2
10   39438 2014-09-26  350000        4      1           1010     6000    1
# ℹ more rows
# ℹ 13 more variables: waterfront <int>, view <int>, condition <int>,
#   grade <int>, sqft_above <dbl>, sqft_basement <dbl>, yr_built <int>,
#   yr_renovated <int>, zipcode <chr>, lat <dbl>, long <dbl>,
#   sqft_living15 <dbl>, sqft_lot15 <dbl>

<p style = 'font-size:16px;font-family:Arial;color:#00233C'>glimpse function will give the description of columns in dataframe/tibble.</p>

In [8]:
glimpse(tdf)

Rows: ??
Columns: 21
Database: Teradata
$ id            <int64> 78876, 36889, 11603, 79345, 9054, 54059, 17639, 37358,…
$ date          <date> 2014-05-29, 2014-05-05, 2014-08-13, 2014-06-25, 2015-03…
$ price         <dbl> 1355000, 418000, 275000, 957000, 292500, 700000, 300000,…
$ bedrooms      <int> 5, 3, 2, 5, 4, 4, 2, 3, 4, 3, 4, 4, 4, 4, 3, 3, 3, 3, 2,…
$ bathrooms     <dbl> 3.50, 2.00, 1.75, 3.25, 2.50, 2.00, 1.75, 1.00, 2.50, 1.…
$ sqft_living   <dbl> 5960, 1410, 2090, 3160, 1610, 2230, 1360, 1410, 2690, 18…
$ sqft_lot      <dbl> 13703, 6030, 11317, 5000, 4568, 4635, 8100, 47916, 32780…
$ floors        <dbl> 2.0, 1.5, 1.0, 2.0, 2.0, 1.5, 1.0, 1.0, 2.0, 1.0, 2.0, 2…
$ waterfront    <int> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,…
$ view          <int> 2, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,…
$ condition     <int> 3, 4, 5, 3, 3, 5, 3, 3, 3, 3, 3, 3, 4, 4, 3, 5, 3, 4, 3,…
$ grade         <int> 10, 7, 7, 10, 7, 7, 7, 7, 9, 7, 7, 7, 7, 7, 7, 11, 8, 7,…
$ sqft_above    <dbl> 4770, 1410, 1090, 2180, 1610, 1510, 860, 1410, 2690, 189…
$ sqft_basement <dbl> 1190, 0, 1000, 980, 0, 720, 500, 0, 0, 0, 0, 0, 1010, 90…
$ yr_built      <int> 1984, 1930, 1931, 2005, 2006, 1908, 1975, 1981, 1998, 20…
$ yr_renovated  <int> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,…
$ zipcode       <chr> "98008", "98103", "98188", "98199", "98001", "98103", "9…
$ lat           <dbl> 47.6151, 47.6994, 47.4594, 47.6464, 47.3351, 47.6820, 47…
$ long          <dbl> -122.107, -122.347, -122.279, -122.405, -122.289, -122.3…
$ sqft_living15 <dbl> 2810, 1410, 1940, 3160, 1834, 1520, 1830, 1810, 2840, 29…
$ sqft_lot15    <dbl> 17320, 6300, 11317, 5746, 4604, 4635, 6766, 215622, 3655…

<p style = 'font-size:16px;font-family:Arial;color:#00233C'>Below code can be used to get the total row count of the tibble</p>

In [9]:
td_nrow(tdf)

integer64
[1] 80000

<p style = 'font-size:16px;font-family:Arial;color:#00233C'>head will extract first few rows of the tibble.</p>

In [10]:
tdf %>% head()

# Source:   SQL [6 x 21]
# Database: Teradata
       id date        price bedrooms bathrooms sqft_living sqft_lot floors
  <int64> <date>      <dbl>    <int>     <dbl>       <dbl>    <dbl>  <dbl>
1   48023 2014-05-14 530000        4      2.75        2450    15002      1
2   25755 2015-05-07 567500        4      1.75        2190     5060      1
3     469 2015-03-31 312000        3      2.25        1470     7857      1
4   51041 2014-08-07 210000        2      0.75         840    49658      1
5   28304 2015-01-27 679950        3      2.5         2230     3939      2
6   53590 2014-06-02 559900        3      2.75        2930     5569      1
# ℹ 13 more variables: waterfront <int>, view <int>, condition <int>,
#   grade <int>, sqft_above <dbl>, sqft_basement <dbl>, yr_built <int>,
#   yr_renovated <int>, zipcode <chr>, lat <dbl>, long <dbl>,
#   sqft_living15 <dbl>, sqft_lot15 <dbl>

<hr style="height:2px;border:none;background-color:#00233C;">
<p style = 'font-size:20px;font-family:Arial;color:#00233C'><b>5. Aggregations</b>
<p style = 'font-size:16px;font-family:Arial;color:#00233C'>Various aggregations are available for grouping, windowing, time series, etc.</p>

In [11]:
tdf %>% group_by(bedrooms) %>% summarize(mean = mean(price), n = n())

Warning message:
“Missing values are always removed in SQL aggregation functions.
Use `na.rm = TRUE` to silence this warning
This warning is displayed once every 8 hours.”

# Source:   SQL [?? x 3]
# Database: Teradata
   bedrooms     mean       n
      <int>    <dbl> <int64>
 1       33  640000        2
 2        4  637209.   25582
 3        7  970473.     145
 4        0  359465.      55
 5        8 1018562.      48
 6        3  466396.   36222
 7        1  317503.     736
 8        2  399480.   10227
 9        6  803804.    1056
10       10  802400       10
# ℹ more rows

<p style = 'font-size:16px;font-family:Arial;color:#00233C'>
<i>mutate(price_per_bed = price / bedrooms) </i><br>
is used to create a new column price_per_bed in the tdf table, which contains the result of dividing the price column by the bedrooms column.</p>

In [12]:
tdf <- tdf %>% mutate(price_per_bed = price / bedrooms)

<p style = 'font-size:16px;font-family:Arial;color:#00233C'>
Print all columns and a specified number of rows (e.g., 10)

In [13]:
print(tdf, n = 10, width = Inf)

# Source:   SQL [?? x 22]
# Database: Teradata
        id date         price bedrooms bathrooms sqft_living sqft_lot floors
   <int64> <date>       <dbl>    <int>     <dbl>       <dbl>    <dbl>  <dbl>
 1   78876 2014-05-29 1355000        5      3.5         5960    13703    2
 2   36889 2014-05-05  418000        3      2           1410     6030    1.5
 3   11603 2014-08-13  275000        2      1.75        2090    11317    1
 4   79345 2014-06-25  957000        5      3.25        3160     5000    2
 5    9054 2015-03-26  292500        4      2.5         1610     4568    2
 6   54059 2015-02-19  700000        4      2           2230     4635    1.5
 7   17639 2014-05-12  300000        2      1.75        1360     8100    1
 8   34340 2014-11-19 1010000        4      3.5         3350     3752    2
 9   62175 2014-11-18  422500        4      2.5         2550     8824    2
10   39438 2014-09-26  350000        4      1           1010     6000    1
   waterfront  view condition grade sqft_above sqft_basement yr_built
        <int> <int>     <int> <int>      <dbl>         <dbl>    <int>
 1          0     2         3    10       4770          1190     1984
 2          0     0         4     7       1410             0     1930
 3          0     0         5     7       1090          1000     1931
 4          0     2         3    10       2180           980     2005
 5          0     0         3     7       1610             0     2006
 6          0     0         5     7       1510           720     1908
 7          0     0         3     7        860           500     1975
 8          0     0         3     9       2550           800     2007
 9          0     0         3     9       2550             0     1990
10          0     0         3     6        750           260     1925
   yr_renovated zipcode   lat  long sqft_living15 sqft_lot15 price_per_bed
          <int> <chr>   <dbl> <dbl>         <dbl>      <dbl>         <dbl>
 1            0 98008    47.6 -122.          2810      17320       271000
 2            0 98103    47.7 -122.          1410       6300       139333.
 3            0 98188    47.5 -122.          1940      11317       137500
 4            0 98199    47.6 -122.          3160       5746       191400
 5            0 98001    47.3 -122.          1834       4604        73125
 6            0 98103    47.7 -122.          1520       4635       175000
 7            0 98177    47.7 -122.          1830       6766       150000
 8            0 98117    47.7 -122.          1050       4960       252500
 9            0 98031    47.4 -122.          2630      11237       105625
10            0 98136    47.6 -122.          1450       6000        87500
# ℹ more rows

<hr style="height:2px;border:none;background-color:#00233C;">
<p style = 'font-size:20px;font-family:Arial;color:#00233C'><b>6. Cleanup</b></p>
<p style = 'font-size:16px;font-family:Arial;color:#00233C'>The following code will clean up tables and databases created above.</p>

In [14]:
dbExecute(con,"call remove_data('DEMO_DataScienceExploration');")

[1] 0

<hr style="height:1px;border:none;background-color:#00233C;">
<p style = 'font-size:16px;font-family:Arial;color:#00233C'>It is a good practice to remove the context that we created to connect to Vantage. The remove_context function removes the current context associated with the Vantage connection.remove_context() not only closes the connection but also garbage collects the intermediate views and tables created by tdplyr. Teradata recommends calling remove_context() to end a session, so that intermediate views and tables created by tdplyr are garbage collected.</p>

In [15]:
td_remove_context()

<p style = 'font-size:20px;font-family:Arial;color:#00233C'><b>Downloading and Installing the Teradata R package</b></p>
<p style = 'font-size:16px;font-family:Arial;color:#00233C'>The Teradata Package for R, tdplyr, is available from Teradata GitHub site <a href = 'https://github.com/Teradata/tdplyr'>here.</a> <br>
The following command should be run from a Terminal (for Linux and Mac) or Command Prompt (for Windows).  This will download and install the tdplyr package along with the dependent packages, from Amazon AWS and CRAN repository.  
<blockquote><i>
Rscript -e "install.packages('tdplyr',repos=c('https://r-repo.teradata.com','https://cloud.r-project.org'))"
</i></blockquote> </p>

<footer style="padding-bottom:35px; background:#f9f9f9; border-bottom:3px solid #00233C">
    <div style="float:left;margin-top:14px">ClearScape Analytics™</div>
    <div style="float:right;">
        <div style="float:left; margin-top:14px">
            Copyright © Teradata Corporation - 2024. All Rights Reserved
        </div>
    </div>
</footer>