<header style="padding:1px;background:#f9f9f9;border-top:3px solid #00b2b1"><img id="Teradata-logo" src="https://www.teradata.com/Teradata/Images/Rebrand/Teradata_logo-two_color.png" alt="Teradata" width="220" align="right" />

<b style = 'font-size:28px;font-family:Arial;color:#E37C4D'>Vantage SQL Plugin Basics</b>
</header>

<p style = 'font-size:16px;font-family:Arial'>Welcome to this introductory guide. This guide will walk you through your first SQL queries.  A more extensive notebook with more commands can be found online in the Teradata Vantage Modules for Jupyter <a href = 'https://teradata.github.io/jupyterextensions/#/'>Here.</a></p>

<hr>
<p style = 'font-size:16px;font-family:Arial'>For help on available "magic" commands in the Teradata SQL plugin, run the following cell:</p>

In [1]:
%help

%help **command** - Display detailed help for one magic command (without %).</br>
%help **all** - Display detailed help for all magic commands.</br>
%help **snippets** - Display the list of SQL command Snippets.</br>
%help **rowcount** - Display the current rowcount value.</br>
%help **currentdb** - Display the current database for the user.</br>
%help **hidewarnings** - Display the current hide warnings value.</br>
#### Notation conventions: Items in [] are optional, all others are required.  Parameter names are not case sensitive.</br>
#### Magic Commands:</br>
**%addconnect** - Add a Teradata Vantage database connection specification.</br>**%connect** - Connect to a Vantage system and/or make the connection active.</br>**%disconnect** - Disconnect from a Vantage system.</br>**%rmconnect** - Remove a connection specification.</br>**%chconnect** - Change a connection specification.</br>**%lsconnect** - List the known connections.</br>**%chart** - Display a Vega-Lite visualization of a query result set or an existing Vega or VegaLite chart.</br>**%table** - Display a previous result set as a table.</br>**%meta** - Display metadata of a previous result set.</br>**%dataload** - Load a CSV file into a database table.</br>**%history** - Display a table or the details of previously executed commands.
		If a single history item is specified, the details for that item will be displayed.</br>**%rmhistory** - Remove one or more history items and associated result set(s).</br>**%var** - Define one or more variables for use in SQL statements and magic commands.</br>**%lsvar** - List one or more variables. If no names are provided, list all defined variables.</br>**%rmvar** - Remove one or more defined variables.</br>**%pyinfo** - Display information about the version of Python installed on the Vantage system.</br>**%rinfo** - Display information about the version of R installed on the Vantage system.</br>**%runsto** - Run a Script Table Operator.</br>**%installfile** - Install a file onto the Vantage system.</br>**%rmfile** - Remove a file that has been installed on the Vantage system.</br>**%showfile** - Display the contents of a file that has been installed on the Vantage system.</br>**%loglevel** - Set the logging level for the Teradata SQL kernel.</br>**%lsmagic** - List the supported magic commands.</br>**%quickref** - Display help for magic commands.</br>**%help** - Display help for magic commands.</br>**%savecolumn** - Save a BLOB column data to a file.</br>

<hr>
<b style = 'font-size:18px;font-family:Arial;color:#E37C4D'>Object Browser</b>

Included with the plugin is a browser that alows you to view the databases and tables on your ClearScape Analytics Experience platform.  Note that if you haven't run any demos or haven't used the data dictionary, you will only see system tables. 

<ol style = 'font-size:16px;font-family:Arial'>
    <li>Select <b>File/New Launcher</b> or if there is a launcher t to a launcher (new or existing)</li>
<li>Click Navigator</li>
<li>Select database profile</li>
</ol>

<hr>
<b style = 'font-size:18px;font-family:Arial;color:#E37C4D'>Introduction to SQL</b>

<p style = 'font-size:16px;font-family:Arial'>This page is a Jupyter Notebook. Looking at the top-right corner, you can see that it is running a *Teradata SQL* kernel. Other kernel include R and Python. This means that any command on this notebook will have to be a SQL statement.</p>

<p style = 'font-size:16px;font-family:Arial'>The first step with any SQL editor or Jupyter Notebook is to connect to a Teradata system.</p>

<p style = 'font-size:16px;font-family:Arial'>If this notebook is being run from the Vantage LIVE image, three connections should already be set up; representing connections to Transcend Production, Transcend AWS, and Vantage LIVE (Azure).  The below command will list configured connections</p>

In [2]:
%lsconnect

Disconnected: NAME=local, USER=demo_user, HOST=host.docker.internal, DATABASE=demo_user

In [3]:
%connect local, hidewarnings=true

Password: ········

Success: 'local' connection established and activated for user 'demo_user', with default database 'demo_user'

<p style = 'font-size:16px;font-family:Arial'>You are connected if the last command returned `Success:... connection established`</p>

<p style = 'font-size:16px;font-family:Arial'>The most simple SQL you can run is to calculate a formula, for example 2+2. Click on the cell below and press Shift-Return to execute its content. The result is saved in the Teradata directory mentioned above with the exact path below which can be accessed/downloaded from the file browser on the left.</p>

In [4]:
SELECT 2+5

,(2+5)
1,7

<p style = 'font-size:16px;font-family:Arial'>Now, let's run your first real SQL query. Click in the cell below and press Shift+Return to execute it. It will retrieve ten rows from a table named DBC.TablesV</p>

In [5]:
SELECT top 10 * FROM DBC.TablesV;

,DataBaseName,TableName,Version,TableKind,ProtectionType,JournalFlag,CreatorName,RequestText,CommentString,ParentCount,ChildCount,NamedTblCheckCount,UnnamedTblCheckExist,PrimaryKeyIndexId,RepStatus,CreateTimeStamp,LastAlterName,LastAlterTimeStamp,RequestTxtOverflow,AccessCount,LastAccessTimeStamp,UtilVersion,QueueFlag,CommitOpt,TransLog,CheckOpt,TemporalProperty,ResolvedCurrent_Date,ResolvedCurrent_Timestamp,SystemDefinedJI,VTQualifier,TTQualifier,PIColumnCount,PartitioningLevels,LoadProperty,CurrentLoadId,LoadIdLayout,DelayedJI,LastArchiveId,LastFullArchiveId,BlockSize,FreeSpacePercent,MergeBlockRatio,CheckSum,BlockCompression,BlockCompressionAlgorithm,BlockCompressionLevel,TableHeaderFormat,RowSizeFormat,MapName,ColocationName,TVMFlavor,FastAlterTable,IncrementalRestoreEnabled,AuthName
1,demo_user,betweenness,1,Z,F,N,demo_user,"CALL SYSUIF.install_file('betweenness', 'betweenness.py', 'cz!/home/jovyan/JupyterLabRoot/UseCases/Graph_Analysis/betweenness.py');",,0,0,0,N,0,,2023-07-13 04:42:12,demo_user,2023-07-13 04:42:12,,,,,N,N,Y,N,N,,,N,,,0,0,,,,,,,,,,,,,,,0,TD_DataDictionaryMap,,,,,
2,SYSLIB,DBSRetryableErrors_TBF,4,R,F,N,DBC,REPLACE FUNCTION SYSLIB.DBSRetryableErrors_TBF () RETURNS TABLE ( ErrorCode SMALLINT ) LANGUAGE C NO SQL DETERMINISTIC PARAMETER STYLE SQL EXTERNAL NAME 'SL!udflib';,,0,0,0,N,0,,2023-05-17 10:46:13,DBC,2023-05-17 10:51:23,,,,,N,N,Y,N,N,,,N,,,0,0,,,,,,,,,,,,,,,1,TD_DataDictionaryMap,,,,,
3,SYSUDTLIB,ST_GEOMETRY_LinkID_Set,1,H,F,N,DBC,,,0,0,0,N,0,,2023-05-17 10:56:29,DBC,2023-05-17 10:56:29,,,,,N,N,Y,N,N,,,N,,,0,0,,,,,,,,,,,,,,,0,TD_DataDictionaryMap,,,,,
4,val,credit_acct,1,T,F,NN,val,"CREATE SET TABLE credit_acct ,NO BEFORE JOURNAL ,NO AFTER JOURNAL ( cust_id INTEGER ,acct_nbr CHAR(16) CHARACTER SET LATIN NOT CASESPECIFIC ,credit_limit INTEGER ,credit_rating SMALLINT ,account_active CHAR(1) CHARACTER SET LATIN NOT CASESPECIFIC ,acct_start_date DATE FORMAT 'YYYYMMDD' ,acct_end_date DATE FORMAT 'YYYYMMDD' ,starting_balance DECIMAL(9,2) FORMAT '--Z(6)9.99' ,ending_balance DECIMAL(9,2) FORMAT '--Z(6)9.99' ) UNIQUE PRIMARY INDEX ( cust_id );",,0,0,0,N,,,2023-05-17 11:26:07,val,2023-05-17 11:26:07,,,,1,N,N,Y,N,N,,,N,,,1,0,,,,,,,,,,,DEFAULT,DEFAULT,DEFAULT,0,0,TD_Map1,,,,,
5,TD_SYSFNLIB,SHIFTRIGHT_I,1,F,F,N,DBC,,,0,0,0,N,0,,2023-05-17 10:52:10,DBC,2023-05-17 10:52:10,,,,,N,N,Y,N,,,,,,,0,0,,,,,,,,,,,,,,,0,TD_DataDictionaryMap,,,,,
6,DBC,LogonRules_SZ,1,V,F,NN,DBC,"REPLACE VIEW DBC.LogonRules_SZ AS SELECT CAST(SUBSTRING(TRANSLATE(DBase.DatabaseName USING UNICODE_TO_LOCALE WITH ERROR) FROM 1 FOR 30) AS CHAR(30)) (NAMED UserName), LogonRuleTbl.LogicalHostId(Format 'ZZZ9'), LogonRuleTbl.LogonStatus, LogonRuleTbl.NullPassword, CAST(SUBSTRING(TRANSLATE(DB1.DatabaseName USING UNICODE_TO_LOCALE WITH ERROR) FROM 1 FOR 30) AS CHAR(30)) (NAMED CreatorName), LogonRuleTbl.CreateTimeStamp FROM DBC.DBase, DBC.LogonRuleTbl LEFT OUTER JOIN DBC.DBase DB1 ON DBC.LogonRuleTbl.CreateUID = DB1.DatabaseID WHERE LogonRuleTbl.UserId = DBase.DatabaseId AND DBase.ZoneID = CASE WHEN ZONE IS NULL THEN '00000000'xb ELSE (SELECT ZoneID FROM DBC.Zones WHERE ZoneNameI = ZONE) END WITH CHECK OPTION;",,0,0,0,N,,,2023-05-17 11:05:08,DBC,2023-05-17 11:05:08,,,,,N,N,Y,Y,N,,,N,,,0,0,,,,,,,,,,,,,,,0,,,,,,
7,TD_SYSFNLIB,DayNumber_Of_Year,1,F,F,N,DBC,,,0,0,0,N,0,,2023-05-17 10:59:01,DBC,2023-05-17 10:59:01,,,,,N,N,Y,N,,,,,,,0,0,,,,,,,,,,,,,,,0,TD_DataDictionaryMap,,,,,
8,SYSSPATIAL,ST_GeomFromWKBSRID_blob,4,F,F,N,DBC,"REPLACE FUNCTION SYSSPATIAL.ST_GeomFromWKB( awkb BLOB AS LOCATOR, srid INTEGER ) RETURNS ST_Geometry LANGUAGE CPP DETERMINISTIC NO SQL SPECIFIC ST_GeomFromWKBSRID_blob EXTERNAL NAME 'SL!udflib';",,0,0,0,N,0,,2023-05-17 10:56:40,DBC,2023-05-17 11:00:59,,,,,N,N,Y,N,N,,,N,,,0,0,,,,,,,,,,,,,,,1,TD_DataDictionaryMap,,,,,
9,SYSUDTLIB,JSON_COMBINE_UJL_RESULT,1,H,F,N,DBC,,,0,0,0,N,0,,2023-05-17 10:57:27,DBC,2023-05-17 10:57:27,,,,,N,N,Y,N,N,,,N,,,0,0,,,,,,,,,,,,,,,0,TD_DataDictionaryMap,,,,,
10,SYSSPATIAL,SpheroidalDistanceDefault,4,F,F,N,DBC,"REPLACE FUNCTION SYSSPATIAL.SpheroidalDistance ( lat1 FLOAT, lon1 FLOAT, lat2 FLOAT, lon2 FLOAT ) RETURNS FLOAT LANGUAGE CPP DETERMINISTIC SPECIFIC SpheroidalDistanceDefault NO SQL EXTERNAL NAME 'SL!udflib';",,0,0,0,N,0,,2023-05-17 10:56:41,DBC,2023-05-17 11:01:01,,,,,N,N,Y,N,N,,,N,,,0,0,,,,,,,,,,,,,,,1,TD_DataDictionaryMap,,,,,

<p style = 'font-size:16px;font-family:Arial'>
    This is the simplest high-level SQL query. <b>SELECT</b> is a SQL keyword that starts the first section on defining the columns we wan to extract. <b>FROM</b> is a SQL keyword that starts the source data section. <b>DBC.TablesV</b> is the table we want to extract all the columns.</p>

<p style = 'font-size:16px;font-family:Arial'>
    Instead of "shift+Enter", one can also click on the <b>Execute</b> button (triangular Play button in the top toolbar) will run the SQL query on our Vantage environment</p>

<p style = 'font-size:16px;font-family:Arial'>After a few seconds you will find the results in the result window. You can select any cell, type Ctrl-C to copy the data, and then Ctrl-P in Excel to paste the data for further analysis (filtering, pivoting, etc.).</p>

<p style = 'font-size:16px;font-family:Arial'>The results include the following columns:</p>

<ul style = 'font-size:16px;font-family:Arial'>
    <li>DatabaseName, name of the database a table is in</li>
<li>TableName, name of the table</li>
<li>Version</li>
<li>TableKind</li>
<li>ProtectionType</li>
<li>JournalFlag</li>
<li>CreatorName</li>
<li>RequestText</li>
<li>CommentString</li>
<li>ParentCount</li>
<li>ChildCount</li>
<li>...</li>
</ul>

<p style = 'font-size:16px;font-family:Arial'>To select specific columns, we define them in the <b>SELECT</b> statement delimitated by a comma. For readability, we will enter each one on a new line and use a nice tabular form:</p>

In [6]:
SELECT top 5 TableName, DatabaseName FROM DBC.TablesV;

,TableName,DataBaseName
1,ESCINSERT,SYSJDBC
2,byte2int,GLOBAL_FUNCTIONS
3,ESCREPEAT,SYSJDBC
4,DatasetSchemaDependenciesV,DBC
5,ResCPUByPE,DBC

<hr>
<b style = 'font-size:18px;font-family:Arial;color:#E37C4D'>Ordering</b>

<p style = 'font-size:16px;font-family:Arial'>We can order the data by Name:</p>

In [7]:
SELECT top 5 TableName, DatabaseName FROM DBC.TablesV ORDER BY TableName;

,TableName,DataBaseName
1,AbortCollect,TDStats
2,AbortListSessions,SYSLIB
3,AbortSessions,SYSLIB
4,AccessLog,DBC
5,AccessLogV,DBC

<p style = 'font-size:16px;font-family:Arial'>We added here the SQL keyword <b>ORDER BY</b> followed by the column on which we want to order the data.</p>

<p style = 'font-size:16px;font-family:Arial'>To order in descendign order, we add the SQL keyword <b>DESC</b> next to the column name:</p>

In [8]:
SELECT top 5 TableName, DatabaseName FROM DBC.TablesV ORDER BY TableName DESC;

,TableName,DataBaseName
1,_val_ks_out1,demo_user
2,_val_chisquare_out,demo_user
3,_val_binomial_example4,demo_user
4,_val_binomial_example2,demo_user
5,_TWM_1_TO_1_AFFINITY,demo_user

<p style = 'font-size:16px;font-family:Arial'>We can order using multiple columns, for example:</p>

In [9]:
SELECT
    top 50 *
FROM
    DBC.TablesV
ORDER BY DatabaseName DESC, TableName

,DataBaseName,TableName,Version,TableKind,ProtectionType,JournalFlag,CreatorName,RequestText,CommentString,ParentCount,ChildCount,NamedTblCheckCount,UnnamedTblCheckExist,PrimaryKeyIndexId,RepStatus,CreateTimeStamp,LastAlterName,LastAlterTimeStamp,RequestTxtOverflow,AccessCount,LastAccessTimeStamp,UtilVersion,QueueFlag,CommitOpt,TransLog,CheckOpt,TemporalProperty,ResolvedCurrent_Date,ResolvedCurrent_Timestamp,SystemDefinedJI,VTQualifier,TTQualifier,PIColumnCount,PartitioningLevels,LoadProperty,CurrentLoadId,LoadIdLayout,DelayedJI,LastArchiveId,LastFullArchiveId,BlockSize,FreeSpacePercent,MergeBlockRatio,CheckSum,BlockCompression,BlockCompressionAlgorithm,BlockCompressionLevel,TableHeaderFormat,RowSizeFormat,MapName,ColocationName,TVMFlavor,FastAlterTable,IncrementalRestoreEnabled,AuthName
1,val,accounts,1,T,F,NN,val,"CREATE SET TABLE accounts ,NO BEFORE JOURNAL ,NO AFTER JOURNAL ( acct_nbr CHAR(16) CHARACTER SET LATIN NOT CASESPECIFIC NOT NULL ,cust_id INTEGER ,acct_type CHAR(2) CHARACTER SET LATIN NOT CASESPECIFIC ,account_active CHAR(1) CHARACTER SET LATIN NOT CASESPECIFIC ,acct_start_date DATE FORMAT 'YYYY-MM-DD' ,acct_end_date DATE FORMAT 'YYYY-MM-DD' ,starting_balance DECIMAL(9,2) ,ending_balance DECIMAL(9,2) ) UNIQUE PRIMARY INDEX ( acct_nbr );",,0,0,0,N,,,2023-05-17 11:26:05,val,2023-05-17 11:26:05,,,,1,N,N,Y,N,N,,,N,,,1,0,,,,,,,,,,,DEFAULT,DEFAULT,DEFAULT,0,0,TD_Map1,,,,,
2,val,checking_acct,1,T,F,NN,val,"CREATE SET TABLE checking_acct ,NO BEFORE JOURNAL ,NO AFTER JOURNAL ( cust_id INTEGER NOT NULL ,acct_nbr CHAR(16) CHARACTER SET LATIN NOT CASESPECIFIC ,minimum_balance INTEGER ,per_check_fee DECIMAL(9,2) FORMAT '--Z(6)9.99' ,account_active CHAR(1) CHARACTER SET LATIN NOT CASESPECIFIC ,acct_start_date DATE FORMAT 'YYYYMMDD' ,acct_end_date DATE FORMAT 'YYYYMMDD' ,starting_balance DECIMAL(9,2) FORMAT '--Z(6)9.99' ,ending_balance DECIMAL(9,2) FORMAT '--Z(6)9.99' ) UNIQUE PRIMARY INDEX ( cust_id );",,0,0,0,N,,,2023-05-17 11:26:05,val,2023-05-17 11:26:05,,,,1,N,N,Y,N,N,,,N,,,1,0,,,,,,,,,,,DEFAULT,DEFAULT,DEFAULT,0,0,TD_Map1,,,,,
3,val,checking_tran,1,T,F,NN,val,"CREATE SET TABLE checking_tran ,NO BEFORE JOURNAL ,NO AFTER JOURNAL ( cust_id INTEGER ,tran_id INTEGER ,tran_amt DECIMAL(9,2) FORMAT '--Z(6)9.99' ,principal_amt DECIMAL(9,2) FORMAT '--Z(6)9.99' ,interest_amt DECIMAL(9,2) FORMAT '--Z(6)9.99' ,new_balance DECIMAL(9,2) FORMAT '--Z(6)9.99' ,tran_date DATE FORMAT 'YYYYMMDD' ,tran_time CHAR(6) CHARACTER SET LATIN NOT CASESPECIFIC ,channel CHAR(1) CHARACTER SET LATIN NOT CASESPECIFIC ,tran_code CHAR(2) CHARACTER SET LATIN NOT CASESPECIFIC ) UNIQUE PRIMARY INDEX ( cust_id,tran_id );",,0,0,0,N,,,2023-05-17 11:26:05,val,2023-05-17 11:26:05,,,,1,N,N,Y,N,N,,,N,,,2,0,,,,,,,,,,,DEFAULT,DEFAULT,DEFAULT,0,0,TD_Map1,,,,,
4,val,credit_acct,1,T,F,NN,val,"CREATE SET TABLE credit_acct ,NO BEFORE JOURNAL ,NO AFTER JOURNAL ( cust_id INTEGER ,acct_nbr CHAR(16) CHARACTER SET LATIN NOT CASESPECIFIC ,credit_limit INTEGER ,credit_rating SMALLINT ,account_active CHAR(1) CHARACTER SET LATIN NOT CASESPECIFIC ,acct_start_date DATE FORMAT 'YYYYMMDD' ,acct_end_date DATE FORMAT 'YYYYMMDD' ,starting_balance DECIMAL(9,2) FORMAT '--Z(6)9.99' ,ending_balance DECIMAL(9,2) FORMAT '--Z(6)9.99' ) UNIQUE PRIMARY INDEX ( cust_id );",,0,0,0,N,,,2023-05-17 11:26:07,val,2023-05-17 11:26:07,,,,1,N,N,Y,N,N,,,N,,,1,0,,,,,,,,,,,DEFAULT,DEFAULT,DEFAULT,0,0,TD_Map1,,,,,
5,val,credit_tran,1,T,F,NN,val,"CREATE SET TABLE credit_tran ,NO BEFORE JOURNAL ,NO AFTER JOURNAL ( cust_id INTEGER ,tran_id INTEGER ,tran_amt DECIMAL(9,2) FORMAT '--Z(6)9.99' ,principal_amt DECIMAL(9,2) FORMAT '--Z(6)9.99' ,interest_amt DECIMAL(9,2) FORMAT '--Z(6)9.99' ,new_balance DECIMAL(9,2) FORMAT '--Z(6)9.99' ,tran_date DATE FORMAT 'YYYYMMDD' ,tran_time CHAR(6) CHARACTER SET LATIN NOT CASESPECIFIC ,channel CHAR(1) CHARACTER SET LATIN NOT CASESPECIFIC ,tran_code CHAR(2) CHARACTER SET LATIN NOT CASESPECIFIC ) UNIQUE PRIMARY INDEX ( cust_id,tran_id );",,0,0,0,N,,,2023-05-17 11:26:07,val,2023-05-17 11:26:07,,,,1,N,N,Y,N,N,,,N,,,2,0,,,,,,,,,,,DEFAULT,DEFAULT,DEFAULT,0,0,TD_Map1,,,,,
6,val,customer,1,T,F,NN,val,"CREATE SET TABLE customer ,NO BEFORE JOURNAL ,NO AFTER JOURNAL ( cust_id INTEGER ,income INTEGER ,age SMALLINT ,years_with_bank SMALLINT ,nbr_children SMALLINT ,gender CHAR(1) CHARACTER SET LATIN NOT CASESPECIFIC ,marital_status CHAR(1) CHARACTER SET LATIN NOT CASESPECIFIC ,name_prefix CHAR(4) CHARACTER SET LATIN NOT CASESPECIFIC ,first_name CHAR(30) CHARACTER SET LATIN NOT CASESPECIFIC ,last_name CHAR(30) CHARACTER SET LATIN NOT CASESPECIFIC ,street_nbr SMALLINT ,street_name CHAR(30) CHARACTER SET LATIN NOT CASESPECIFIC ,postal_code CHAR(5) CHARACTER SET LATIN NOT CASESPECIFIC ,city_name CHAR(20) CHARACTER SET LATIN NOT CASESPECIFIC ,state_code CHAR(2) CHARACTER SET LATIN NOT CASESPECIFIC ) UNIQUE PRIMARY INDEX ( cust_id );",,0,0,0,N,,,2023-05-17 11:26:08,val,2023-05-17 11:26:08,,,,1,N,N,Y,N,N,,,N,,,1,0,,,,,,,,,,,DEFAULT,DEFAULT,DEFAULT,0,0,TD_Map1,,,,,
7,val,customer_analysis,1,T,F,NN,val,"CREATE SET TABLE customer_analysis ,NO BEFORE JOURNAL ,NO AFTER JOURNAL ( cust_id INTEGER FORMAT '-(10)9' ,income INTEGER FORMAT '-(10)9' ,age SMALLINT FORMAT '-(5)9' ,years_with_bank SMALLINT FORMAT '-(5)9' ,nbr_children SMALLINT FORMAT '-(5)9' ,gender CHAR(1) FORMAT 'X(1)' ,marital_status CHAR(1) FORMAT 'X(1)' ,city_name CHAR(20) ,state_code CHAR(2) ,female BYTEINT FORMAT '-(3)9' ,single BYTEINT FORMAT '-(3)9' ,married BYTEINT FORMAT '-(3)9' ,separated BYTEINT FORMAT '-(3)9' ,ccacct BYTEINT FORMAT '-(3)9' ,ckacct BYTEINT FORMAT '-(3)9' ,svacct BYTEINT FORMAT '-(3)9' ,avg_cc_bal FLOAT FORMAT '-9.99999999999999E-999' ,avg_ck_bal FLOAT FORMAT '-9.99999999999999E-999' ,avg_sv_bal FLOAT FORMAT '-9.99999999999999E-999' ,avg_cc_tran_amt FLOAT FORMAT '-9.99999999999999E-999' ,avg_cc_tran_cnt FLOAT FORMAT '-9.99999999999999E-999' ,avg_ck_tran_amt FLOAT FORMAT '-9.99999999999999E-999' ,avg_ck_tran_cnt FLOAT FORMAT '-9.99999999999999E-999' ,avg_sv_tran_amt FLOAT FORMAT '-9.99999999999999E-999' ,avg_sv_tran_cnt FLOAT FORMAT '-9.99999999999999E-999' ,ccrev FLOAT FORMAT '-9.99999999999999E-999' ) UNIQUE PRIMARY INDEX ( cust_id );",,0,0,0,N,,,2023-05-17 11:26:08,val,2023-05-17 11:26:08,,,,1,N,N,Y,N,N,,,N,,,1,0,,,,,,,,,,,DEFAULT,DEFAULT,DEFAULT,0,0,TD_Map1,,,,,
8,val,customer_dqa,1,T,F,NN,val,"CREATE SET TABLE customer_dqa ,NO BEFORE JOURNAL ,NO AFTER JOURNAL ( cust_id INTEGER ,hhold_id INTEGER ,income INTEGER ,age SMALLINT ,years_with_bank SMALLINT ,nbr_children SMALLINT ,gender VARCHAR(1) CHARACTER SET UNICODE NOT CASESPECIFIC ,marital_status CHAR(1) CHARACTER SET LATIN NOT CASESPECIFIC ,name_prefix CHAR(4) CHARACTER SET LATIN NOT CASESPECIFIC ,first_name CHAR(30) CHARACTER SET LATIN NOT CASESPECIFIC ,last_name CHAR(30) CHARACTER SET LATIN NOT CASESPECIFIC ,street_nbr SMALLINT ,street_name CHAR(30) CHARACTER SET LATIN NOT CASESPECIFIC ,postal_code CHAR(6) CHARACTER SET LATIN NOT CASESPECIFIC ,city_name CHAR(20) CHARACTER SET LATIN NOT CASESPECIFIC ,state_code CHAR(2) CHARACTER SET LATIN NOT CASESPECIFIC ,acct_start_date DATE FORMAT 'YY/MM/DD' ,acct_end_date DATE FORMAT 'YY/MM/DD' ,sdate_str VARCHAR(30) CHARACTER SET LATIN NOT CASESPECIFIC ,edate_str VARCHAR(30) CHARACTER SET LATIN NOT CASESPECIFIC ,stime_str VARCHAR(45) CHARACTER SET UNICODE NOT CASESPECIFIC ,acct_start_time CHAR(15) ,acct_end_time CHAR(15) ,acct_start_timestamp CHAR(26) ,acct_end_timestamp CHAR(26) ) UNIQUE PRIMARY INDEX ( cust_id );",,0,0,0,N,,,2023-05-17 11:26:09,val,2023-05-17 11:26:09,,,,1,N,N,Y,N,N,,,N,,,1,0,,,,,,,,,,,DEFAULT,DEFAULT,DEFAULT,0,0,TD_Map1,,,,,
9,val,savings_acct,1,T,F,NN,val,"CREATE SET TABLE savings_acct ,NO BEFORE JOURNAL ,NO AFTER JOURNAL ( cust_id INTEGER ,acct_nbr CHAR(16) CHARACTER SET LATIN NOT CASESPECIFIC ,minimum_balance INTEGER ,acct_type CHAR(2) CHARACTER SET LATIN NOT CASESPECIFIC ,account_active CHAR(1) CHARACTER SET LATIN NOT CASESPECIFIC ,acct_start_date DATE FORMAT 'YYYYMMDD' ,acct_end_date DATE FORMAT 'YYYYMMDD' ,starting_balance DECIMAL(9,2) FORMAT '--Z(6)9.99' ,ending_balance DECIMAL(9,2) FORMAT '--Z(6)9.99' ) UNIQUE PRIMARY INDEX ( cust_id );",,0,0,0,N,,,2023-05-17 11:26:09,val,2023-05-17 11:26:09,,,,1,N,N,Y,N,N,,,N,,,1,0,,,,,,,,,,,DEFAULT,DEFAULT,DEFAULT,0,0,TD_Map1,,,,,
10,val,savings_tran,1,T,F,NN,val,"CREATE SET TABLE savings_tran ,NO BEFORE JOURNAL ,NO AFTER JOURNAL ( cust_id INTEGER ,tran_id INTEGER ,tran_amt DECIMAL(9,2) FORMAT '--Z(6)9.99' ,principal_amt DECIMAL(9,2) FORMAT '--Z(6)9.99' ,interest_amt DECIMAL(9,2) FORMAT '--Z(6)9.99' ,new_balance DECIMAL(9,2) FORMAT '--Z(6)9.99' ,tran_date DATE FORMAT 'YYYYMMDD' ,tran_time CHAR(6) CHARACTER SET LATIN NOT CASESPECIFIC ,channel CHAR(1) CHARACTER SET LATIN NOT CASESPECIFIC ,tran_code CHAR(2) CHARACTER SET LATIN NOT CASESPECIFIC ) UNIQUE PRIMARY INDEX ( cust_id,tran_id );",,0,0,0,N,,,2023-05-17 11:26:09,val,2023-05-17 11:26:09,,,,1,N,N,Y,N,N,,,N,,,2,0,,,,,,,,,,,DEFAULT,DEFAULT,DEFAULT,0,0,TD_Map1,,,,,
11,val,TdAnalyzeJarId_2.1.0.0,1,D,F,N,val,"CALL SQLJ.INSTALL_JAR('SJ!/opt/teradata/val/2.1.0.0/lib64/TdAnalyzeJarFile.jar','TdAnalyzeJarId_2.1.0.0', 0);",,0,0,0,N,0,,2023-05-17 11:25:29,val,2023-05-17 11:25:29,,,,,N,N,Y,N,N,,,N,,,0,0,,,,,,,,,,,,,,,0,TD_DataDictionaryMap,,,,,
12,val,tda_dt_calc,1,L,F,N,val,REPLACE FUNCTION val.tda_dt_calc() RETURNS TABLE VARYING USING FUNCTION tda_dt_calc_contract SPECIFIC tda_dt_calc LANGUAGE CPP NO SQL NO EXTERNAL DATA PARAMETER STYLE SQLTable NOT DETERMINISTIC CALLED ON NULL INPUT EXTERNAL NAME 'SI!tda_dt_calc!/opt/teradata/val/2.1.0.0/lib64/tda_dt_calc.h!SS!tda_dt_calc!/opt/teradata/val/2.1.0.0/lib64/tda_dt_calc.cpp';,,0,0,0,N,0,,2023-05-17 11:25:33,val,2023-05-17 11:25:33,,,,,N,N,Y,N,N,,,N,,,0,0,,,,,,,,,,,,,,,0,TD_DataDictionaryMap,,,,,
13,val,tda_dt_calc_contract,1,C,F,N,val,REPLACE FUNCTION val.tda_dt_calc() RETURNS TABLE VARYING USING FUNCTION tda_dt_calc_contract SPECIFIC tda_dt_calc LANGUAGE CPP NO SQL NO EXTERNAL DATA PARAMETER STYLE SQLTable NOT DETERMINISTIC CALLED ON NULL INPUT EXTERNAL NAME 'SI!tda_dt_calc!/opt/teradata/val/2.1.0.0/lib64/tda_dt_calc.h!SS!tda_dt_calc!/opt/teradata/val/2.1.0.0/lib64/tda_dt_calc.cpp';,,0,0,0,N,0,,2023-05-17 11:25:33,val,2023-05-17 11:25:33,,,,,N,N,Y,N,N,,,N,,,0,0,,,,,,,,,,,,,,,0,TD_DataDictionaryMap,,,,,
14,val,tda_kmeans,1,L,F,N,val,REPLACE FUNCTION val.tda_kmeans() RETURNS TABLE VARYING USING FUNCTION tda_kmeans_contract SPECIFIC tda_kmeans LANGUAGE CPP NO SQL NO EXTERNAL DATA PARAMETER STYLE SQLTable NOT DETERMINISTIC CALLED ON NULL INPUT EXTERNAL NAME 'SI!tda_kmeans!/opt/teradata/val/2.1.0.0/lib64/tda_kmeans.h!SS!lib_tda_kmeans!/opt/teradata/val/2.1.0.0/lib64/lib_tda_kmeans.cpp!SS!tda_kmeans!/opt/teradata/val/2.1.0.0/lib64/tda_kmeans.cpp';,,0,0,0,N,0,,2023-05-17 11:25:32,val,2023-05-17 11:25:32,,,,,N,N,Y,N,N,,,N,,,0,0,,,,,,,,,,,,,,,0,TD_DataDictionaryMap,,,,,
15,val,tda_kmeans_contract,1,C,F,N,val,REPLACE FUNCTION val.tda_kmeans() RETURNS TABLE VARYING USING FUNCTION tda_kmeans_contract SPECIFIC tda_kmeans LANGUAGE CPP NO SQL NO EXTERNAL DATA PARAMETER STYLE SQLTable NOT DETERMINISTIC CALLED ON NULL INPUT EXTERNAL NAME 'SI!tda_kmeans!/opt/teradata/val/2.1.0.0/lib64/tda_kmeans.h!SS!lib_tda_kmeans!/opt/teradata/val/2.1.0.0/lib64/lib_tda_kmeans.cpp!SS!tda_kmeans!/opt/teradata/val/2.1.0.0/lib64/tda_kmeans.cpp';,,0,0,0,N,0,,2023-05-17 11:25:32,val,2023-05-17 11:25:32,,,,,N,N,Y,N,N,,,N,,,0,0,,,,,,,,,,,,,,,0,TD_DataDictionaryMap,,,,,
16,val,td_analyze,1,E,F,N,val,"REPLACE PROCEDURE val.td_analyze ( IN functionName VARCHAR(30) CHARACTER SET UNICODE, IN parameters VARCHAR(32000) CHARACTER SET UNICODE) DYNAMIC RESULT SETS 3 LANGUAGE JAVA MODIFIES SQL DATA PARAMETER STYLE JAVA SQL SECURITY INVOKER EXTERNAL NAME 'TdAnalyzeJarId_2.1.0.0:com.teradata.TdAnalyze.td_analyze(java.lang.String,java.lang.String)';",,0,3,0,N,0,,2023-05-17 11:25:31,val,2023-05-17 11:25:31,,,,,N,N,Y,N,N,,,N,,,0,0,,,,,,,,,,,,,,,0,TD_DataDictionaryMap,,,,,
17,val,transactions,1,T,F,NN,val,"CREATE SET TABLE transactions ,NO BEFORE JOURNAL ,NO AFTER JOURNAL ( tran_id INTEGER ,acct_nbr CHAR(16) CHARACTER SET LATIN NOT CASESPECIFIC ,tran_amt DECIMAL(9,2) ,principal_amt DECIMAL(9,2) ,interest_amt DECIMAL(9,2) ,new_balance DECIMAL(9,2) ,tran_date DATE FORMAT 'YYYY-MM-DD' ,tran_time INTEGER ,channel CHAR(1) CHARACTER SET LATIN NOT CASESPECIFIC ,tran_code CHAR(2) CHARACTER SET LATIN NOT CASESPECIFIC ) UNIQUE PRIMARY INDEX ( tran_id,acct_nbr );",,0,0,0,N,,,2023-05-17 11:26:10,val,2023-05-17 11:26:10,,,,1,N,N,Y,N,N,,,N,,,2,0,,,,,,,,,,,DEFAULT,DEFAULT,DEFAULT,0,0,TD_Map1,,,,,
18,val,TWMS_Binomial,1,T,F,NN,val,"CREATE SET TABLE TWMS_Binomial , NO BEFORE JOURNAL, NO AFTER JOURNAL ( N_Trials INTEGER ,K INTEGER ,Prob FLOAT ,BinomDist FLOAT ,CumBinomDist FLOAT ) UNIQUE PRIMARY INDEX ( N_Trials,K,Prob )",,0,0,0,N,,,2023-05-17 11:25:35,val,2023-05-17 11:25:35,,,,1,N,N,Y,N,N,,,N,,,3,0,,,,,,,,,,,DEFAULT,DEFAULT,DEFAULT,0,0,TD_Map1,,,,,
19,val,TWMS_ChiSquare,1,T,F,NN,val,"CREATE SET TABLE TWMS_ChiSquare , NO BEFORE JOURNAL, NO AFTER JOURNAL ( K INTEGER ,T1 FLOAT ,T2 FLOAT ,T3 FLOAT ,T4 FLOAT ,T5 FLOAT ,T6 FLOAT ,T7 FLOAT ,T8 FLOAT ,T9 FLOAT ) UNIQUE PRIMARY INDEX ( K )",,0,0,0,N,,,2023-05-17 11:25:36,val,2023-05-17 11:25:36,,,,1,N,N,Y,N,N,,,N,,,1,0,,,,,,,,,,,DEFAULT,DEFAULT,DEFAULT,0,0,TD_Map1,,,,,
20,val,TWMS_F,1,T,F,NN,val,"CREATE SET TABLE TWMS_F , NO BEFORE JOURNAL, NO AFTER JOURNAL ( K INTEGER ,df_1 INTEGER ,df_2 INTEGER ,""T0.25"" FLOAT ,""T0.1"" FLOAT ,""T0.05"" FLOAT ,""T0.025"" FLOAT ,""T0.01"" FLOAT ,""T0.005"" FLOAT ,""T0.001"" FLOAT ) UNIQUE PRIMARY INDEX ( K )",,0,0,0,N,,,2023-05-17 11:25:38,val,2023-05-17 11:25:38,,,,1,N,N,Y,N,N,,,N,,,1,0,,,,,,,,,,,DEFAULT,DEFAULT,DEFAULT,0,0,TD_Map1,,,,,
21,val,TWMS_KolmogorovSmirnov,1,T,F,NN,val,"CREATE SET TABLE TWMS_KolmogorovSmirnov , NO BEFORE JOURNAL, NO AFTER JOURNAL ( n INTEGER ,T1 FLOAT ,T2 FLOAT ,T3 FLOAT ,T4 FLOAT ,T5 FLOAT ) UNIQUE PRIMARY INDEX ( n )",,0,0,0,N,,,2023-05-17 11:25:39,val,2023-05-17 11:25:39,,,,1,N,N,Y,N,N,,,N,,,1,0,,,,,,,,,,,DEFAULT,DEFAULT,DEFAULT,0,0,TD_Map1,,,,,
22,val,TWMS_KruskalWallis,1,T,F,NN,val,"CREATE SET TABLE TWMS_KruskalWallis , NO BEFORE JOURNAL, NO AFTER JOURNAL ( K1 INTEGER ,K2 INTEGER ,K3 INTEGER ,T1 FLOAT ,T2 FLOAT ,T3 FLOAT ) UNIQUE PRIMARY INDEX ( K1,K2,K3 )",,0,0,0,N,,,2023-05-17 11:25:41,val,2023-05-17 11:25:41,,,,1,N,N,Y,N,N,,,N,,,3,0,,,,,,,,,,,DEFAULT,DEFAULT,DEFAULT,0,0,TD_Map1,,,,,
23,val,TWMS_Lilliefors,1,T,F,NN,val,"CREATE SET TABLE TWMS_Lilliefors , NO BEFORE JOURNAL, NO AFTER JOURNAL ( n INTEGER ,T1 FLOAT ,T2 FLOAT ,T3 FLOAT ,T4 FLOAT ,T5 FLOAT ) UNIQUE PRIMARY INDEX ( n )",,0,0,0,N,,,2023-05-17 11:25:42,val,2023-05-17 11:25:42,,,,1,N,N,Y,N,N,,,N,,,1,0,,,,,,,,,,,DEFAULT,DEFAULT,DEFAULT,0,0,TD_Map1,,,,,
24,val,TWMS_Normal,1,T,F,NN,val,"CREATE SET TABLE TWMS_Normal , NO BEFORE JOURNAL, NO AFTER JOURNAL ( Z FLOAT ,P FLOAT ) UNIQUE PRIMARY INDEX ( Z )",,0,0,0,N,,,2023-05-17 11:25:43,val,2023-05-17 11:25:43,,,,1,N,N,Y,N,N,,,N,,,1,0,,,,,,,,,,,DEFAULT,DEFAULT,DEFAULT,0,0,TD_Map1,,,,,
25,val,TWMS_Normalshort,1,T,F,NN,val,"CREATE SET TABLE TWMS_Normalshort , NO BEFORE JOURNAL, NO AFTER JOURNAL ( Z FLOAT ,P FLOAT ) UNIQUE PRIMARY INDEX ( Z )",,0,0,0,N,,,2023-05-17 11:25:44,val,2023-05-17 11:25:44,,,,1,N,N,Y,N,N,,,N,,,1,0,,,,,,,,,,,DEFAULT,DEFAULT,DEFAULT,0,0,TD_Map1,,,,,
26,val,TWMS_ShapiroWilkCoefficients,1,T,F,NN,val,"CREATE SET TABLE TWMS_ShapiroWilkCoefficients , NO BEFORE JOURNAL, NO AFTER JOURNAL ( N INTEGER, I INTEGER, Coeff FLOAT) UNIQUE PRIMARY INDEX ( N ,I );",,0,0,0,N,,,2023-05-17 11:26:00,val,2023-05-17 11:26:00,,,,1,N,N,Y,N,N,,,N,,,2,0,,,,,,,,,,,DEFAULT,DEFAULT,DEFAULT,0,0,TD_Map1,,,,,
27,val,TWMS_ShapiroWilkQuantiles,1,T,F,NN,val,"CREATE SET TABLE TWMS_ShapiroWilkQuantiles , NO BEFORE JOURNAL, NO AFTER JOURNAL ( n INTEGER ,T1 FLOAT ,T2 FLOAT ,T3 FLOAT ,T4 FLOAT ,T5 FLOAT ,T6 FLOAT ,T7 FLOAT ,T8 FLOAT ,T9 FLOAT ) UNIQUE PRIMARY INDEX ( n )",,0,0,0,N,,,2023-05-17 11:25:47,val,2023-05-17 11:25:47,,,,1,N,N,Y,N,N,,,N,,,1,0,,,,,,,,,,,DEFAULT,DEFAULT,DEFAULT,0,0,TD_Map1,,,,,
28,val,TWMS_Smirnov,1,T,F,NN,val,"CREATE SET TABLE TWMS_Smirnov , NO BEFORE JOURNAL, NO AFTER JOURNAL ( N INTEGER, M INTEGER, C INTEGER, PVal FLOAT) UNIQUE PRIMARY INDEX ( N ,M ,C );",,0,0,0,N,,,2023-05-17 11:26:02,val,2023-05-17 11:26:02,,,,1,N,N,Y,N,N,,,N,,,3,0,,,,,,,,,,,DEFAULT,DEFAULT,DEFAULT,0,0,TD_Map1,,,,,
29,val,TWMS_T,1,T,F,NN,val,"CREATE SET TABLE TWMS_T , NO BEFORE JOURNAL, NO AFTER JOURNAL ( df INTEGER ,t FLOAT ,p FLOAT ) UNIQUE PRIMARY INDEX ( df,t )",,0,0,0,N,,,2023-05-17 11:25:46,val,2023-05-17 11:25:46,,,,1,N,N,Y,N,N,,,N,,,2,0,,,,,,,,,,,DEFAULT,DEFAULT,DEFAULT,0,0,TD_Map1,,,,,
30,TD_SYSXML,AS_SHRED_BATCH,2,P,F,N,DBC,,,0,0,0,N,,,2023-05-17 10:57:17,DBC,2023-05-17 11:01:20,,,,,N,N,Y,,N,,,N,,,0,0,,,,,,,,,,,,,,,0,TD_DataDictionaryMap,,,,,
31,TD_SYSXML,XMLPUBLISH,2,P,F,N,DBC,,,0,0,0,N,,,2023-05-17 10:57:18,DBC,2023-05-17 11:01:20,,,,,N,N,Y,,N,,,N,,,0,0,,,,,,,,,,,,,,,0,TD_DataDictionaryMap,,,,,
32,TD_SYSXML,XMLPUBLISH_STREAM,2,P,F,N,DBC,,,0,1,0,N,,,2023-05-17 10:57:18,DBC,2023-05-17 11:01:21,,,,,N,N,Y,,N,,,N,,,0,0,,,,,,,,,,,,,,,0,TD_DataDictionaryMap,,,,,
33,TD_SYSXML,xml_gettabdef,2,E,F,N,DBC,"REPLACE PROCEDURE TD_SYSXML.xml_gettabdef (IN List_Indicator INTEGER, IN Table_list BLOB(2097088000) AS LOCATOR, IN in_query VARCHAR(32000) CHARACTER SET UNICODE, OUT result_lob BLOB(2097088000) AS LOCATOR) LANGUAGE C READS SQL DATA NO EXTERNAL DATA PARAMETER STYLE SQL SQL SECURITY INVOKER EXTERNAL NAME 'SP!CLI!SL!xspcli!F!xml_gettabdef';",,0,0,0,N,0,,2023-05-17 10:57:16,DBC,2023-05-17 11:01:20,,,,,N,N,Y,N,N,,,N,,,0,0,,,,,,,,,,,,,,,0,TD_DataDictionaryMap,,,,,
34,TD_SYSXML,XSLT_SHRED,2,P,F,N,DBC,,,0,0,0,N,,,2023-05-17 10:57:19,DBC,2023-05-17 11:01:21,,,,,N,N,Y,,N,,,N,,,0,0,,,,,,,,,,,,,,,0,TD_DataDictionaryMap,,,,,
35,TD_SYSXML,XSLT_SHRED_BATCH,2,P,F,N,DBC,,,0,0,0,N,,,2023-05-17 10:57:19,DBC,2023-05-17 11:01:21,,,,,N,N,Y,,N,,,N,,,0,0,,,,,,,,,,,,,,,0,TD_DataDictionaryMap,,,,,
36,TD_SYSFNLIB,AggGeom,1,L,F,N,DBC,,,0,0,0,N,0,,2023-05-17 10:57:04,DBC,2023-05-17 10:57:04,,,,,N,N,Y,N,,,,,,,0,0,,,,,,,,,,,,,,,0,TD_DataDictionaryMap,,,,,
37,TD_SYSFNLIB,AggGeomIntersection,1,A,F,N,DBC,,,0,0,0,N,0,,2023-05-17 10:57:01,DBC,2023-05-17 10:57:01,,,,,N,N,Y,N,,,,,,,0,0,,,,,,,,,,,,,,,0,TD_DataDictionaryMap,,,,,
38,TD_SYSFNLIB,AggGeomUnion,1,A,F,N,DBC,,,0,0,0,N,0,,2023-05-17 10:57:01,DBC,2023-05-17 10:57:01,,,,,N,N,Y,N,,,,,,,0,0,,,,,,,,,,,,,,,0,TD_DataDictionaryMap,,,,,
39,TD_SYSFNLIB,ANOVA_CONTRACT,1,C,F,N,DBC,"CREATE FUNCTION TD_SYSFNLIB.TD_ANOVA() RETURNS TABLE VARYING USING FUNCTION ANOVA_CONTRACT LANGUAGE CPP SPECIFIC TD_SYSFNLIB.TD_ANOVA NO SQL MODE PRIMARY PARAMETER STYLE TD_INTERNALSQLMR_STYLE FUNCTIONDESCRIPTOR '{ ""functionName"": ""td_anova"", ""version"": ""1"", ""rewritingRules"": { ""iterationFlag"": ""FALSE"", ""execute_contract"": ""TRUE"", ""inputType"": ""fixed"", ""expansionType"": ""static"", ""expansionQueryType"":""SQLMR_QUERY"", ""expansion"" : ""fpfanovareduce( ON (SELECT TD_BYONE(), model.* from(select * from colSumReduce( ON (select * from fpfanovamap( ON $INPUT1 USING GroupColumns(''$valueFromParameter(GroupColumns)'') isDebug(''$valueFromParameter(isDebug)'') ) as mapout) partition by column_index USING INPUT_COLUMNS (''[1:]'') isDebug(''$valueFromParameter(isDebug)'') ) as m) as model) PARTITION BY TD_BYONE() USING Alpha(''$valueFromParameter(Alpha)'') isDebug(''$valueFromParameter(isDebug)'') )"" }}' EXTERNAL LOCAL;",,0,0,0,N,0,,2023-05-17 10:58:29,DBC,2023-05-17 10:58:29,,,,,N,N,Y,N,N,,,N,,,0,0,,,,,,,,,,,,,,,0,TD_DataDictionaryMap,,,,,
40,TD_SYSFNLIB,ANTISELECT,1,L,F,N,DBC,,,0,0,0,N,0,,2023-05-17 10:58:08,DBC,2023-05-17 10:58:08,,,,,N,N,Y,N,,,,,,,0,0,,,,,,,,,,,,,,,0,TD_DataDictionaryMap,,,,,

<hr>
<b style = 'font-size:18px;font-family:Arial;color:#E37C4D'>Filtering</b>

<p style = 'font-size:16px;font-family:Arial'>We can filter for specific value with the SQL keyword <b>WHERE</b>. For example:</p>

In [10]:
SELECT top 50 * FROM DBC.TablesV
WHERE TableKind = 'T'
ORDER BY DatabaseName DESC, TableName

,DataBaseName,TableName,Version,TableKind,ProtectionType,JournalFlag,CreatorName,RequestText,CommentString,ParentCount,ChildCount,NamedTblCheckCount,UnnamedTblCheckExist,PrimaryKeyIndexId,RepStatus,CreateTimeStamp,LastAlterName,LastAlterTimeStamp,RequestTxtOverflow,AccessCount,LastAccessTimeStamp,UtilVersion,QueueFlag,CommitOpt,TransLog,CheckOpt,TemporalProperty,ResolvedCurrent_Date,ResolvedCurrent_Timestamp,SystemDefinedJI,VTQualifier,TTQualifier,PIColumnCount,PartitioningLevels,LoadProperty,CurrentLoadId,LoadIdLayout,DelayedJI,LastArchiveId,LastFullArchiveId,BlockSize,FreeSpacePercent,MergeBlockRatio,CheckSum,BlockCompression,BlockCompressionAlgorithm,BlockCompressionLevel,TableHeaderFormat,RowSizeFormat,MapName,ColocationName,TVMFlavor,FastAlterTable,IncrementalRestoreEnabled,AuthName
1,val,accounts,1,T,F,NN,val,"CREATE SET TABLE accounts ,NO BEFORE JOURNAL ,NO AFTER JOURNAL ( acct_nbr CHAR(16) CHARACTER SET LATIN NOT CASESPECIFIC NOT NULL ,cust_id INTEGER ,acct_type CHAR(2) CHARACTER SET LATIN NOT CASESPECIFIC ,account_active CHAR(1) CHARACTER SET LATIN NOT CASESPECIFIC ,acct_start_date DATE FORMAT 'YYYY-MM-DD' ,acct_end_date DATE FORMAT 'YYYY-MM-DD' ,starting_balance DECIMAL(9,2) ,ending_balance DECIMAL(9,2) ) UNIQUE PRIMARY INDEX ( acct_nbr );",,0,0,0,N,,,2023-05-17 11:26:05,val,2023-05-17 11:26:05,,,,1,N,N,Y,N,N,,,N,,,1,0,,,,,,,,,,,DEFAULT,DEFAULT,DEFAULT,0,0,TD_Map1,,,,,
2,val,checking_acct,1,T,F,NN,val,"CREATE SET TABLE checking_acct ,NO BEFORE JOURNAL ,NO AFTER JOURNAL ( cust_id INTEGER NOT NULL ,acct_nbr CHAR(16) CHARACTER SET LATIN NOT CASESPECIFIC ,minimum_balance INTEGER ,per_check_fee DECIMAL(9,2) FORMAT '--Z(6)9.99' ,account_active CHAR(1) CHARACTER SET LATIN NOT CASESPECIFIC ,acct_start_date DATE FORMAT 'YYYYMMDD' ,acct_end_date DATE FORMAT 'YYYYMMDD' ,starting_balance DECIMAL(9,2) FORMAT '--Z(6)9.99' ,ending_balance DECIMAL(9,2) FORMAT '--Z(6)9.99' ) UNIQUE PRIMARY INDEX ( cust_id );",,0,0,0,N,,,2023-05-17 11:26:05,val,2023-05-17 11:26:05,,,,1,N,N,Y,N,N,,,N,,,1,0,,,,,,,,,,,DEFAULT,DEFAULT,DEFAULT,0,0,TD_Map1,,,,,
3,val,checking_tran,1,T,F,NN,val,"CREATE SET TABLE checking_tran ,NO BEFORE JOURNAL ,NO AFTER JOURNAL ( cust_id INTEGER ,tran_id INTEGER ,tran_amt DECIMAL(9,2) FORMAT '--Z(6)9.99' ,principal_amt DECIMAL(9,2) FORMAT '--Z(6)9.99' ,interest_amt DECIMAL(9,2) FORMAT '--Z(6)9.99' ,new_balance DECIMAL(9,2) FORMAT '--Z(6)9.99' ,tran_date DATE FORMAT 'YYYYMMDD' ,tran_time CHAR(6) CHARACTER SET LATIN NOT CASESPECIFIC ,channel CHAR(1) CHARACTER SET LATIN NOT CASESPECIFIC ,tran_code CHAR(2) CHARACTER SET LATIN NOT CASESPECIFIC ) UNIQUE PRIMARY INDEX ( cust_id,tran_id );",,0,0,0,N,,,2023-05-17 11:26:05,val,2023-05-17 11:26:05,,,,1,N,N,Y,N,N,,,N,,,2,0,,,,,,,,,,,DEFAULT,DEFAULT,DEFAULT,0,0,TD_Map1,,,,,
4,val,credit_acct,1,T,F,NN,val,"CREATE SET TABLE credit_acct ,NO BEFORE JOURNAL ,NO AFTER JOURNAL ( cust_id INTEGER ,acct_nbr CHAR(16) CHARACTER SET LATIN NOT CASESPECIFIC ,credit_limit INTEGER ,credit_rating SMALLINT ,account_active CHAR(1) CHARACTER SET LATIN NOT CASESPECIFIC ,acct_start_date DATE FORMAT 'YYYYMMDD' ,acct_end_date DATE FORMAT 'YYYYMMDD' ,starting_balance DECIMAL(9,2) FORMAT '--Z(6)9.99' ,ending_balance DECIMAL(9,2) FORMAT '--Z(6)9.99' ) UNIQUE PRIMARY INDEX ( cust_id );",,0,0,0,N,,,2023-05-17 11:26:07,val,2023-05-17 11:26:07,,,,1,N,N,Y,N,N,,,N,,,1,0,,,,,,,,,,,DEFAULT,DEFAULT,DEFAULT,0,0,TD_Map1,,,,,
5,val,credit_tran,1,T,F,NN,val,"CREATE SET TABLE credit_tran ,NO BEFORE JOURNAL ,NO AFTER JOURNAL ( cust_id INTEGER ,tran_id INTEGER ,tran_amt DECIMAL(9,2) FORMAT '--Z(6)9.99' ,principal_amt DECIMAL(9,2) FORMAT '--Z(6)9.99' ,interest_amt DECIMAL(9,2) FORMAT '--Z(6)9.99' ,new_balance DECIMAL(9,2) FORMAT '--Z(6)9.99' ,tran_date DATE FORMAT 'YYYYMMDD' ,tran_time CHAR(6) CHARACTER SET LATIN NOT CASESPECIFIC ,channel CHAR(1) CHARACTER SET LATIN NOT CASESPECIFIC ,tran_code CHAR(2) CHARACTER SET LATIN NOT CASESPECIFIC ) UNIQUE PRIMARY INDEX ( cust_id,tran_id );",,0,0,0,N,,,2023-05-17 11:26:07,val,2023-05-17 11:26:07,,,,1,N,N,Y,N,N,,,N,,,2,0,,,,,,,,,,,DEFAULT,DEFAULT,DEFAULT,0,0,TD_Map1,,,,,
6,val,customer,1,T,F,NN,val,"CREATE SET TABLE customer ,NO BEFORE JOURNAL ,NO AFTER JOURNAL ( cust_id INTEGER ,income INTEGER ,age SMALLINT ,years_with_bank SMALLINT ,nbr_children SMALLINT ,gender CHAR(1) CHARACTER SET LATIN NOT CASESPECIFIC ,marital_status CHAR(1) CHARACTER SET LATIN NOT CASESPECIFIC ,name_prefix CHAR(4) CHARACTER SET LATIN NOT CASESPECIFIC ,first_name CHAR(30) CHARACTER SET LATIN NOT CASESPECIFIC ,last_name CHAR(30) CHARACTER SET LATIN NOT CASESPECIFIC ,street_nbr SMALLINT ,street_name CHAR(30) CHARACTER SET LATIN NOT CASESPECIFIC ,postal_code CHAR(5) CHARACTER SET LATIN NOT CASESPECIFIC ,city_name CHAR(20) CHARACTER SET LATIN NOT CASESPECIFIC ,state_code CHAR(2) CHARACTER SET LATIN NOT CASESPECIFIC ) UNIQUE PRIMARY INDEX ( cust_id );",,0,0,0,N,,,2023-05-17 11:26:08,val,2023-05-17 11:26:08,,,,1,N,N,Y,N,N,,,N,,,1,0,,,,,,,,,,,DEFAULT,DEFAULT,DEFAULT,0,0,TD_Map1,,,,,
7,val,customer_analysis,1,T,F,NN,val,"CREATE SET TABLE customer_analysis ,NO BEFORE JOURNAL ,NO AFTER JOURNAL ( cust_id INTEGER FORMAT '-(10)9' ,income INTEGER FORMAT '-(10)9' ,age SMALLINT FORMAT '-(5)9' ,years_with_bank SMALLINT FORMAT '-(5)9' ,nbr_children SMALLINT FORMAT '-(5)9' ,gender CHAR(1) FORMAT 'X(1)' ,marital_status CHAR(1) FORMAT 'X(1)' ,city_name CHAR(20) ,state_code CHAR(2) ,female BYTEINT FORMAT '-(3)9' ,single BYTEINT FORMAT '-(3)9' ,married BYTEINT FORMAT '-(3)9' ,separated BYTEINT FORMAT '-(3)9' ,ccacct BYTEINT FORMAT '-(3)9' ,ckacct BYTEINT FORMAT '-(3)9' ,svacct BYTEINT FORMAT '-(3)9' ,avg_cc_bal FLOAT FORMAT '-9.99999999999999E-999' ,avg_ck_bal FLOAT FORMAT '-9.99999999999999E-999' ,avg_sv_bal FLOAT FORMAT '-9.99999999999999E-999' ,avg_cc_tran_amt FLOAT FORMAT '-9.99999999999999E-999' ,avg_cc_tran_cnt FLOAT FORMAT '-9.99999999999999E-999' ,avg_ck_tran_amt FLOAT FORMAT '-9.99999999999999E-999' ,avg_ck_tran_cnt FLOAT FORMAT '-9.99999999999999E-999' ,avg_sv_tran_amt FLOAT FORMAT '-9.99999999999999E-999' ,avg_sv_tran_cnt FLOAT FORMAT '-9.99999999999999E-999' ,ccrev FLOAT FORMAT '-9.99999999999999E-999' ) UNIQUE PRIMARY INDEX ( cust_id );",,0,0,0,N,,,2023-05-17 11:26:08,val,2023-05-17 11:26:08,,,,1,N,N,Y,N,N,,,N,,,1,0,,,,,,,,,,,DEFAULT,DEFAULT,DEFAULT,0,0,TD_Map1,,,,,
8,val,customer_dqa,1,T,F,NN,val,"CREATE SET TABLE customer_dqa ,NO BEFORE JOURNAL ,NO AFTER JOURNAL ( cust_id INTEGER ,hhold_id INTEGER ,income INTEGER ,age SMALLINT ,years_with_bank SMALLINT ,nbr_children SMALLINT ,gender VARCHAR(1) CHARACTER SET UNICODE NOT CASESPECIFIC ,marital_status CHAR(1) CHARACTER SET LATIN NOT CASESPECIFIC ,name_prefix CHAR(4) CHARACTER SET LATIN NOT CASESPECIFIC ,first_name CHAR(30) CHARACTER SET LATIN NOT CASESPECIFIC ,last_name CHAR(30) CHARACTER SET LATIN NOT CASESPECIFIC ,street_nbr SMALLINT ,street_name CHAR(30) CHARACTER SET LATIN NOT CASESPECIFIC ,postal_code CHAR(6) CHARACTER SET LATIN NOT CASESPECIFIC ,city_name CHAR(20) CHARACTER SET LATIN NOT CASESPECIFIC ,state_code CHAR(2) CHARACTER SET LATIN NOT CASESPECIFIC ,acct_start_date DATE FORMAT 'YY/MM/DD' ,acct_end_date DATE FORMAT 'YY/MM/DD' ,sdate_str VARCHAR(30) CHARACTER SET LATIN NOT CASESPECIFIC ,edate_str VARCHAR(30) CHARACTER SET LATIN NOT CASESPECIFIC ,stime_str VARCHAR(45) CHARACTER SET UNICODE NOT CASESPECIFIC ,acct_start_time CHAR(15) ,acct_end_time CHAR(15) ,acct_start_timestamp CHAR(26) ,acct_end_timestamp CHAR(26) ) UNIQUE PRIMARY INDEX ( cust_id );",,0,0,0,N,,,2023-05-17 11:26:09,val,2023-05-17 11:26:09,,,,1,N,N,Y,N,N,,,N,,,1,0,,,,,,,,,,,DEFAULT,DEFAULT,DEFAULT,0,0,TD_Map1,,,,,
9,val,savings_acct,1,T,F,NN,val,"CREATE SET TABLE savings_acct ,NO BEFORE JOURNAL ,NO AFTER JOURNAL ( cust_id INTEGER ,acct_nbr CHAR(16) CHARACTER SET LATIN NOT CASESPECIFIC ,minimum_balance INTEGER ,acct_type CHAR(2) CHARACTER SET LATIN NOT CASESPECIFIC ,account_active CHAR(1) CHARACTER SET LATIN NOT CASESPECIFIC ,acct_start_date DATE FORMAT 'YYYYMMDD' ,acct_end_date DATE FORMAT 'YYYYMMDD' ,starting_balance DECIMAL(9,2) FORMAT '--Z(6)9.99' ,ending_balance DECIMAL(9,2) FORMAT '--Z(6)9.99' ) UNIQUE PRIMARY INDEX ( cust_id );",,0,0,0,N,,,2023-05-17 11:26:09,val,2023-05-17 11:26:09,,,,1,N,N,Y,N,N,,,N,,,1,0,,,,,,,,,,,DEFAULT,DEFAULT,DEFAULT,0,0,TD_Map1,,,,,
10,val,savings_tran,1,T,F,NN,val,"CREATE SET TABLE savings_tran ,NO BEFORE JOURNAL ,NO AFTER JOURNAL ( cust_id INTEGER ,tran_id INTEGER ,tran_amt DECIMAL(9,2) FORMAT '--Z(6)9.99' ,principal_amt DECIMAL(9,2) FORMAT '--Z(6)9.99' ,interest_amt DECIMAL(9,2) FORMAT '--Z(6)9.99' ,new_balance DECIMAL(9,2) FORMAT '--Z(6)9.99' ,tran_date DATE FORMAT 'YYYYMMDD' ,tran_time CHAR(6) CHARACTER SET LATIN NOT CASESPECIFIC ,channel CHAR(1) CHARACTER SET LATIN NOT CASESPECIFIC ,tran_code CHAR(2) CHARACTER SET LATIN NOT CASESPECIFIC ) UNIQUE PRIMARY INDEX ( cust_id,tran_id );",,0,0,0,N,,,2023-05-17 11:26:09,val,2023-05-17 11:26:09,,,,1,N,N,Y,N,N,,,N,,,2,0,,,,,,,,,,,DEFAULT,DEFAULT,DEFAULT,0,0,TD_Map1,,,,,
11,val,transactions,1,T,F,NN,val,"CREATE SET TABLE transactions ,NO BEFORE JOURNAL ,NO AFTER JOURNAL ( tran_id INTEGER ,acct_nbr CHAR(16) CHARACTER SET LATIN NOT CASESPECIFIC ,tran_amt DECIMAL(9,2) ,principal_amt DECIMAL(9,2) ,interest_amt DECIMAL(9,2) ,new_balance DECIMAL(9,2) ,tran_date DATE FORMAT 'YYYY-MM-DD' ,tran_time INTEGER ,channel CHAR(1) CHARACTER SET LATIN NOT CASESPECIFIC ,tran_code CHAR(2) CHARACTER SET LATIN NOT CASESPECIFIC ) UNIQUE PRIMARY INDEX ( tran_id,acct_nbr );",,0,0,0,N,,,2023-05-17 11:26:10,val,2023-05-17 11:26:10,,,,1,N,N,Y,N,N,,,N,,,2,0,,,,,,,,,,,DEFAULT,DEFAULT,DEFAULT,0,0,TD_Map1,,,,,
12,val,TWMS_Binomial,1,T,F,NN,val,"CREATE SET TABLE TWMS_Binomial , NO BEFORE JOURNAL, NO AFTER JOURNAL ( N_Trials INTEGER ,K INTEGER ,Prob FLOAT ,BinomDist FLOAT ,CumBinomDist FLOAT ) UNIQUE PRIMARY INDEX ( N_Trials,K,Prob )",,0,0,0,N,,,2023-05-17 11:25:35,val,2023-05-17 11:25:35,,,,1,N,N,Y,N,N,,,N,,,3,0,,,,,,,,,,,DEFAULT,DEFAULT,DEFAULT,0,0,TD_Map1,,,,,
13,val,TWMS_ChiSquare,1,T,F,NN,val,"CREATE SET TABLE TWMS_ChiSquare , NO BEFORE JOURNAL, NO AFTER JOURNAL ( K INTEGER ,T1 FLOAT ,T2 FLOAT ,T3 FLOAT ,T4 FLOAT ,T5 FLOAT ,T6 FLOAT ,T7 FLOAT ,T8 FLOAT ,T9 FLOAT ) UNIQUE PRIMARY INDEX ( K )",,0,0,0,N,,,2023-05-17 11:25:36,val,2023-05-17 11:25:36,,,,1,N,N,Y,N,N,,,N,,,1,0,,,,,,,,,,,DEFAULT,DEFAULT,DEFAULT,0,0,TD_Map1,,,,,
14,val,TWMS_F,1,T,F,NN,val,"CREATE SET TABLE TWMS_F , NO BEFORE JOURNAL, NO AFTER JOURNAL ( K INTEGER ,df_1 INTEGER ,df_2 INTEGER ,""T0.25"" FLOAT ,""T0.1"" FLOAT ,""T0.05"" FLOAT ,""T0.025"" FLOAT ,""T0.01"" FLOAT ,""T0.005"" FLOAT ,""T0.001"" FLOAT ) UNIQUE PRIMARY INDEX ( K )",,0,0,0,N,,,2023-05-17 11:25:38,val,2023-05-17 11:25:38,,,,1,N,N,Y,N,N,,,N,,,1,0,,,,,,,,,,,DEFAULT,DEFAULT,DEFAULT,0,0,TD_Map1,,,,,
15,val,TWMS_KolmogorovSmirnov,1,T,F,NN,val,"CREATE SET TABLE TWMS_KolmogorovSmirnov , NO BEFORE JOURNAL, NO AFTER JOURNAL ( n INTEGER ,T1 FLOAT ,T2 FLOAT ,T3 FLOAT ,T4 FLOAT ,T5 FLOAT ) UNIQUE PRIMARY INDEX ( n )",,0,0,0,N,,,2023-05-17 11:25:39,val,2023-05-17 11:25:39,,,,1,N,N,Y,N,N,,,N,,,1,0,,,,,,,,,,,DEFAULT,DEFAULT,DEFAULT,0,0,TD_Map1,,,,,
16,val,TWMS_KruskalWallis,1,T,F,NN,val,"CREATE SET TABLE TWMS_KruskalWallis , NO BEFORE JOURNAL, NO AFTER JOURNAL ( K1 INTEGER ,K2 INTEGER ,K3 INTEGER ,T1 FLOAT ,T2 FLOAT ,T3 FLOAT ) UNIQUE PRIMARY INDEX ( K1,K2,K3 )",,0,0,0,N,,,2023-05-17 11:25:41,val,2023-05-17 11:25:41,,,,1,N,N,Y,N,N,,,N,,,3,0,,,,,,,,,,,DEFAULT,DEFAULT,DEFAULT,0,0,TD_Map1,,,,,
17,val,TWMS_Lilliefors,1,T,F,NN,val,"CREATE SET TABLE TWMS_Lilliefors , NO BEFORE JOURNAL, NO AFTER JOURNAL ( n INTEGER ,T1 FLOAT ,T2 FLOAT ,T3 FLOAT ,T4 FLOAT ,T5 FLOAT ) UNIQUE PRIMARY INDEX ( n )",,0,0,0,N,,,2023-05-17 11:25:42,val,2023-05-17 11:25:42,,,,1,N,N,Y,N,N,,,N,,,1,0,,,,,,,,,,,DEFAULT,DEFAULT,DEFAULT,0,0,TD_Map1,,,,,
18,val,TWMS_Normal,1,T,F,NN,val,"CREATE SET TABLE TWMS_Normal , NO BEFORE JOURNAL, NO AFTER JOURNAL ( Z FLOAT ,P FLOAT ) UNIQUE PRIMARY INDEX ( Z )",,0,0,0,N,,,2023-05-17 11:25:43,val,2023-05-17 11:25:43,,,,1,N,N,Y,N,N,,,N,,,1,0,,,,,,,,,,,DEFAULT,DEFAULT,DEFAULT,0,0,TD_Map1,,,,,
19,val,TWMS_Normalshort,1,T,F,NN,val,"CREATE SET TABLE TWMS_Normalshort , NO BEFORE JOURNAL, NO AFTER JOURNAL ( Z FLOAT ,P FLOAT ) UNIQUE PRIMARY INDEX ( Z )",,0,0,0,N,,,2023-05-17 11:25:44,val,2023-05-17 11:25:44,,,,1,N,N,Y,N,N,,,N,,,1,0,,,,,,,,,,,DEFAULT,DEFAULT,DEFAULT,0,0,TD_Map1,,,,,
20,val,TWMS_ShapiroWilkCoefficients,1,T,F,NN,val,"CREATE SET TABLE TWMS_ShapiroWilkCoefficients , NO BEFORE JOURNAL, NO AFTER JOURNAL ( N INTEGER, I INTEGER, Coeff FLOAT) UNIQUE PRIMARY INDEX ( N ,I );",,0,0,0,N,,,2023-05-17 11:26:00,val,2023-05-17 11:26:00,,,,1,N,N,Y,N,N,,,N,,,2,0,,,,,,,,,,,DEFAULT,DEFAULT,DEFAULT,0,0,TD_Map1,,,,,
21,val,TWMS_ShapiroWilkQuantiles,1,T,F,NN,val,"CREATE SET TABLE TWMS_ShapiroWilkQuantiles , NO BEFORE JOURNAL, NO AFTER JOURNAL ( n INTEGER ,T1 FLOAT ,T2 FLOAT ,T3 FLOAT ,T4 FLOAT ,T5 FLOAT ,T6 FLOAT ,T7 FLOAT ,T8 FLOAT ,T9 FLOAT ) UNIQUE PRIMARY INDEX ( n )",,0,0,0,N,,,2023-05-17 11:25:47,val,2023-05-17 11:25:47,,,,1,N,N,Y,N,N,,,N,,,1,0,,,,,,,,,,,DEFAULT,DEFAULT,DEFAULT,0,0,TD_Map1,,,,,
22,val,TWMS_Smirnov,1,T,F,NN,val,"CREATE SET TABLE TWMS_Smirnov , NO BEFORE JOURNAL, NO AFTER JOURNAL ( N INTEGER, M INTEGER, C INTEGER, PVal FLOAT) UNIQUE PRIMARY INDEX ( N ,M ,C );",,0,0,0,N,,,2023-05-17 11:26:02,val,2023-05-17 11:26:02,,,,1,N,N,Y,N,N,,,N,,,3,0,,,,,,,,,,,DEFAULT,DEFAULT,DEFAULT,0,0,TD_Map1,,,,,
23,val,TWMS_T,1,T,F,NN,val,"CREATE SET TABLE TWMS_T , NO BEFORE JOURNAL, NO AFTER JOURNAL ( df INTEGER ,t FLOAT ,p FLOAT ) UNIQUE PRIMARY INDEX ( df,t )",,0,0,0,N,,,2023-05-17 11:25:46,val,2023-05-17 11:25:46,,,,1,N,N,Y,N,N,,,N,,,2,0,,,,,,,,,,,DEFAULT,DEFAULT,DEFAULT,0,0,TD_Map1,,,,,
24,TD_SERVER_DB,TD_PushProfileInfo,1,T,F,NN,DBC,"CREATE SET TABLE TD_SERVER_DB.TD_PushProfileInfo, FALLBACK, NO BEFORE JOURNAL, NO AFTER JOURNAL, CHECKSUM = DEFAULT, DEFAULT MERGEBLOCKRATIO ( PushProfileID INTEGER NOT NULL, PushProfileName VARCHAR(128) CHARACTER SET UNICODE NOT CASESPECIFIC NOT NULL, RemoteSystemFlavour VARCHAR(128) CHARACTER SET UNICODE NOT CASESPECIFIC NOT NULL, RemoteSystemVersion VARCHAR(128) CHARACTER SET UNICODE NOT CASESPECIFIC NOT NULL, Hosttype VARCHAR(64) CHARACTER SET UNICODE NOT CASESPECIFIC NOT NULL, RemoteMapping JSON(8388096) CHARACTER SET UNICODE, RemoteMappingInternal VARBYTE(30000), ProfileInstallVersion INTEGER NOT NULL) UNIQUE PRIMARY INDEX (PushProfileName), UNIQUE INDEX(PushProfileID);",The TD_SERVER_DB.TD_PushProfileInfo controls the operations that can be push to remote databases.,0,0,0,N,,,2023-05-17 11:04:28,DBC,2023-05-17 11:04:28,,,,1,N,N,Y,N,N,,,N,,,1,0,,,,,,,,,60,,DEFAULT,DEFAULT,DEFAULT,0,0,TD_Map1,,,,,
25,TD_ANALYTICS_DB,METADATA_OBJECTS,1,T,F,NN,DBC,"CREATE TABLE TD_ANALYTICS_DB.METADATA_OBJECTS( ObjectName VARCHAR(128) CHARACTER SET UNICODE, ObjectType VARCHAR(100) CHARACTER SET UNICODE, VarcharCol VARCHAR(32000) CHARACTER SET UNICODE, ClobCol CLOB CHARACTER SET UNICODE, VarbyteCol VARBYTE(64000), BlobCol BLOB, JsonCol JSON INLINE LENGTH 32000 CHARACTER SET UNICODE, DatasetCol DATASET INLINE LENGTH 64000 STORAGE FORMAT AVRO, CHECK ( (VarcharCol IS NOT NULL AND ClobCol IS NULL AND VarbyteCol IS NULL AND BlobCol IS NULL AND JsonCol IS NULL AND DatasetCol IS NULL) OR (VarcharCol IS NULL AND ClobCol IS NOT NULL AND VarbyteCol IS NULL AND BlobCol IS NULL AND JsonCol IS NULL AND DatasetCol IS NULL) OR (VarcharCol IS NULL AND ClobCol IS NULL AND VarbyteCol IS NOT NULL AND BlobCol IS NULL AND JsonCol IS NULL AND DatasetCol IS NULL) OR (VarcharCol IS NULL AND ClobCol IS NULL AND VarbyteCol IS NULL AND BlobCol IS NOT NULL AND JsonCol IS NULL AND DatasetCol IS NULL) OR (VarcharCol IS NULL AND ClobCol IS NULL AND VarbyteCol IS NULL AND BlobCol IS NULL AND JsonCol IS NOT NULL AND DatasetCol IS NULL) OR (VarcharCol IS NULL AND ClobCol IS NULL AND VarbyteCol IS NULL AND BlobCol IS NULL AND JsonCol IS NULL AND DatasetCol IS NOT NULL) ) )UNIQUE PRIMARY INDEX(ObjectName);",Table to store metadata object which will be use by analytic functions.,0,0,0,Y,,,2023-05-17 10:58:05,DBC,2023-05-17 10:58:05,,,,1,N,N,Y,N,N,,,N,,,1,0,,,,,,,,,,,DEFAULT,DEFAULT,DEFAULT,0,1,TD_Map1,,,,,
26,tdwm,Actions,1,T,F,NN,DBC,"CREATE TABLE Actions ( ActionId INTEGER NOT NULL, CreateDate INTEGER NOT NULL, CreateTime INTEGER FORMAT '99:99:99' NOT NULL, RemoveDate INTEGER NOT NULL, RemoveTime INTEGER FORMAT '99:99:99' NOT NULL, Description VARCHAR(80) CHARACTER SET UNICODE, ConfigId INTEGER NOT NULL, ParentId INTEGER NOT NULL, VersionNo INTEGER NOT NULL, ActionName VARCHAR(30) CHARACTER SET UNICODE NOT NULL, ActionType VARCHAR(10) CHARACTER SET UNICODE NOT NULL, SysConId INTEGER, OpEnvId INTEGER, ActionValue INTEGER, ActionInfo VARCHAR(120) CHARACTER SET UNICODE) PRIMARY INDEX (ActionId);",,0,0,0,N,,,2023-05-17 11:06:44,DBC,2023-05-17 11:06:44,,,,1,N,N,Y,N,N,,,N,,,1,0,,,,,,,,,,,DEFAULT,DEFAULT,DEFAULT,0,0,TD_Map1,,,,,
27,tdwm,AllocGroups,1,T,F,NN,DBC,"CREATE TABLE AllocGroups ( AllocGroupId INTEGER NOT NULL, CreateDate INTEGER NOT NULL, CreateTime INTEGER FORMAT '99:99:99' NOT NULL, RemoveDate INTEGER NOT NULL, RemoveTime INTEGER FORMAT '99:99:99' NOT NULL, Description VARCHAR(80) CHARACTER SET UNICODE, ConfigId INTEGER NOT NULL, ParentId INTEGER NOT NULL, VersionNo INTEGER NOT NULL, RscPartitionId INTEGER NOT NULL, AGName VARCHAR(16) CHARACTER SET UNICODE NOT NULL, AGNumber INTEGER, SlgPriority INTEGER) PRIMARY INDEX (AllocGroupId);",,0,0,0,N,,,2023-05-17 11:06:48,DBC,2023-05-17 11:06:48,,,,1,N,N,Y,N,N,,,N,,,1,0,,,,,,,,,,,DEFAULT,DEFAULT,DEFAULT,0,0,TD_Map1,,,,,
28,tdwm,AllocGroupStates,1,T,F,NN,DBC,"CREATE TABLE AllocGroupStates ( AllocGroupId INTEGER NOT NULL, StateId INTEGER NOT NULL, CreateDate INTEGER NOT NULL, CreateTime INTEGER FORMAT '99:99:99' NOT NULL, RemoveDate INTEGER NOT NULL, RemoveTime INTEGER FORMAT '99:99:99' NOT NULL, Description VARCHAR(80) CHARACTER SET UNICODE, ConfigId INTEGER NOT NULL, ParentId INTEGER NOT NULL, VersionNo INTEGER NOT NULL, Expedited INTEGER DEFAULT 0, AGWeight INTEGER, CpuLimit INTEGER) PRIMARY INDEX (AllocGroupId, StateId);",,0,0,0,N,,,2023-05-17 11:06:49,DBC,2023-05-17 11:06:49,,,,1,N,N,Y,N,N,,,N,,,2,0,,,,,,,,,,,DEFAULT,DEFAULT,DEFAULT,0,0,TD_Map1,,,,,
29,tdwm,Configurations,1,T,F,NN,DBC,CREATE TABLE tdwm.Configurations AS tdwm_w.Configurations WITH DATA;,,0,0,0,N,,,2023-05-17 11:07:03,DBC,2023-05-17 11:07:03,,,,1,N,N,Y,N,N,,,N,,,1,0,,,,,,,,,0,,DEFAULT,DEFAULT,DEFAULT,0,0,TD_Map1,,,,,
30,tdwm,EventComboActions,1,T,F,NN,DBC,"CREATE TABLE EventComboActions ( EventComboId INTEGER NOT NULL, ActionId INTEGER NOT NULL, CreateDate INTEGER NOT NULL, CreateTime INTEGER FORMAT '99:99:99' NOT NULL, RemoveDate INTEGER NOT NULL, RemoveTime INTEGER FORMAT '99:99:99' NOT NULL, Description VARCHAR(80) CHARACTER SET UNICODE, ConfigId INTEGER NOT NULL, ParentId INTEGER NOT NULL, VersionNo INTEGER NOT NULL, BeginOrEnd VARCHAR(10) CHARACTER SET UNICODE NOT NULL, Precedence INTEGER) PRIMARY INDEX (EventComboId, ActionId);",,0,0,0,N,,,2023-05-17 11:06:44,DBC,2023-05-17 11:06:44,,,,1,N,N,Y,N,N,,,N,,,2,0,,,,,,,,,,,DEFAULT,DEFAULT,DEFAULT,0,0,TD_Map1,,,,,
31,tdwm,EventCombos,1,T,F,NN,DBC,"CREATE TABLE EventCombos ( EventComboId INTEGER NOT NULL, EventComboRowId INTEGER NOT NULL, CreateDate INTEGER NOT NULL, CreateTime INTEGER FORMAT '99:99:99' NOT NULL, RemoveDate INTEGER NOT NULL, RemoveTime INTEGER FORMAT '99:99:99' NOT NULL, Description VARCHAR(80) CHARACTER SET UNICODE, ConfigId INTEGER NOT NULL, ParentId INTEGER NOT NULL, VersionNo INTEGER NOT NULL, EventComboName VARCHAR(30) CHARACTER SET UNICODE NOT NULL, EventClass VARCHAR(10) CHARACTER SET UNICODE NOT NULL, EventOptions INTEGER NOT NULL, Operator VARCHAR(4) CHARACTER SET UNICODE NOT NULL, Arg1Type VARCHAR(10) CHARACTER SET UNICODE NOT NULL, Arg1Id INTEGER NOT NULL, Arg1Not INTEGER NOT NULL, Arg2Type VARCHAR(10) CHARACTER SET UNICODE NOT NULL, Arg2Id INTEGER NOT NULL, Arg2Not INTEGER NOT NULL) PRIMARY INDEX (EventComboId);",,0,0,0,N,,,2023-05-17 11:06:44,DBC,2023-05-17 11:06:44,,,,1,N,N,Y,N,N,,,N,,,1,0,,,,,,,,,,,DEFAULT,DEFAULT,DEFAULT,0,0,TD_Map1,,,,,

<p style = 'font-size:16px;font-family:Arial'>We use the SQL keyword **AND** and **OR** with parenthesis to define any logic. For example, to select only the CreatorName of DBC OR SYSADM:</p>

In [11]:
SELECT top 50 * FROM DBC.TablesV
WHERE (TableKind = 'T' AND CreatorName = 'DBC')
  OR (TableKind = 'T' AND CreatorName = 'SYSADM')
ORDER BY DatabaseName DESC, TableName

,DataBaseName,TableName,Version,TableKind,ProtectionType,JournalFlag,CreatorName,RequestText,CommentString,ParentCount,ChildCount,NamedTblCheckCount,UnnamedTblCheckExist,PrimaryKeyIndexId,RepStatus,CreateTimeStamp,LastAlterName,LastAlterTimeStamp,RequestTxtOverflow,AccessCount,LastAccessTimeStamp,UtilVersion,QueueFlag,CommitOpt,TransLog,CheckOpt,TemporalProperty,ResolvedCurrent_Date,ResolvedCurrent_Timestamp,SystemDefinedJI,VTQualifier,TTQualifier,PIColumnCount,PartitioningLevels,LoadProperty,CurrentLoadId,LoadIdLayout,DelayedJI,LastArchiveId,LastFullArchiveId,BlockSize,FreeSpacePercent,MergeBlockRatio,CheckSum,BlockCompression,BlockCompressionAlgorithm,BlockCompressionLevel,TableHeaderFormat,RowSizeFormat,MapName,ColocationName,TVMFlavor,FastAlterTable,IncrementalRestoreEnabled,AuthName
1,TD_SERVER_DB,TD_PushProfileInfo,1,T,F,NN,DBC,"CREATE SET TABLE TD_SERVER_DB.TD_PushProfileInfo, FALLBACK, NO BEFORE JOURNAL, NO AFTER JOURNAL, CHECKSUM = DEFAULT, DEFAULT MERGEBLOCKRATIO ( PushProfileID INTEGER NOT NULL, PushProfileName VARCHAR(128) CHARACTER SET UNICODE NOT CASESPECIFIC NOT NULL, RemoteSystemFlavour VARCHAR(128) CHARACTER SET UNICODE NOT CASESPECIFIC NOT NULL, RemoteSystemVersion VARCHAR(128) CHARACTER SET UNICODE NOT CASESPECIFIC NOT NULL, Hosttype VARCHAR(64) CHARACTER SET UNICODE NOT CASESPECIFIC NOT NULL, RemoteMapping JSON(8388096) CHARACTER SET UNICODE, RemoteMappingInternal VARBYTE(30000), ProfileInstallVersion INTEGER NOT NULL) UNIQUE PRIMARY INDEX (PushProfileName), UNIQUE INDEX(PushProfileID);",The TD_SERVER_DB.TD_PushProfileInfo controls the operations that can be push to remote databases.,0,0,0,N,,,2023-05-17 11:04:28,DBC,2023-05-17 11:04:28,,,,1,N,N,Y,N,N,,,N,,,1,0,,,,,,,,,60,,DEFAULT,DEFAULT,DEFAULT,0,0,TD_Map1,,,,,
2,TD_ANALYTICS_DB,METADATA_OBJECTS,1,T,F,NN,DBC,"CREATE TABLE TD_ANALYTICS_DB.METADATA_OBJECTS( ObjectName VARCHAR(128) CHARACTER SET UNICODE, ObjectType VARCHAR(100) CHARACTER SET UNICODE, VarcharCol VARCHAR(32000) CHARACTER SET UNICODE, ClobCol CLOB CHARACTER SET UNICODE, VarbyteCol VARBYTE(64000), BlobCol BLOB, JsonCol JSON INLINE LENGTH 32000 CHARACTER SET UNICODE, DatasetCol DATASET INLINE LENGTH 64000 STORAGE FORMAT AVRO, CHECK ( (VarcharCol IS NOT NULL AND ClobCol IS NULL AND VarbyteCol IS NULL AND BlobCol IS NULL AND JsonCol IS NULL AND DatasetCol IS NULL) OR (VarcharCol IS NULL AND ClobCol IS NOT NULL AND VarbyteCol IS NULL AND BlobCol IS NULL AND JsonCol IS NULL AND DatasetCol IS NULL) OR (VarcharCol IS NULL AND ClobCol IS NULL AND VarbyteCol IS NOT NULL AND BlobCol IS NULL AND JsonCol IS NULL AND DatasetCol IS NULL) OR (VarcharCol IS NULL AND ClobCol IS NULL AND VarbyteCol IS NULL AND BlobCol IS NOT NULL AND JsonCol IS NULL AND DatasetCol IS NULL) OR (VarcharCol IS NULL AND ClobCol IS NULL AND VarbyteCol IS NULL AND BlobCol IS NULL AND JsonCol IS NOT NULL AND DatasetCol IS NULL) OR (VarcharCol IS NULL AND ClobCol IS NULL AND VarbyteCol IS NULL AND BlobCol IS NULL AND JsonCol IS NULL AND DatasetCol IS NOT NULL) ) )UNIQUE PRIMARY INDEX(ObjectName);",Table to store metadata object which will be use by analytic functions.,0,0,0,Y,,,2023-05-17 10:58:05,DBC,2023-05-17 10:58:05,,,,1,N,N,Y,N,N,,,N,,,1,0,,,,,,,,,,,DEFAULT,DEFAULT,DEFAULT,0,1,TD_Map1,,,,,
3,tdwm,Actions,1,T,F,NN,DBC,"CREATE TABLE Actions ( ActionId INTEGER NOT NULL, CreateDate INTEGER NOT NULL, CreateTime INTEGER FORMAT '99:99:99' NOT NULL, RemoveDate INTEGER NOT NULL, RemoveTime INTEGER FORMAT '99:99:99' NOT NULL, Description VARCHAR(80) CHARACTER SET UNICODE, ConfigId INTEGER NOT NULL, ParentId INTEGER NOT NULL, VersionNo INTEGER NOT NULL, ActionName VARCHAR(30) CHARACTER SET UNICODE NOT NULL, ActionType VARCHAR(10) CHARACTER SET UNICODE NOT NULL, SysConId INTEGER, OpEnvId INTEGER, ActionValue INTEGER, ActionInfo VARCHAR(120) CHARACTER SET UNICODE) PRIMARY INDEX (ActionId);",,0,0,0,N,,,2023-05-17 11:06:44,DBC,2023-05-17 11:06:44,,,,1,N,N,Y,N,N,,,N,,,1,0,,,,,,,,,,,DEFAULT,DEFAULT,DEFAULT,0,0,TD_Map1,,,,,
4,tdwm,AllocGroups,1,T,F,NN,DBC,"CREATE TABLE AllocGroups ( AllocGroupId INTEGER NOT NULL, CreateDate INTEGER NOT NULL, CreateTime INTEGER FORMAT '99:99:99' NOT NULL, RemoveDate INTEGER NOT NULL, RemoveTime INTEGER FORMAT '99:99:99' NOT NULL, Description VARCHAR(80) CHARACTER SET UNICODE, ConfigId INTEGER NOT NULL, ParentId INTEGER NOT NULL, VersionNo INTEGER NOT NULL, RscPartitionId INTEGER NOT NULL, AGName VARCHAR(16) CHARACTER SET UNICODE NOT NULL, AGNumber INTEGER, SlgPriority INTEGER) PRIMARY INDEX (AllocGroupId);",,0,0,0,N,,,2023-05-17 11:06:48,DBC,2023-05-17 11:06:48,,,,1,N,N,Y,N,N,,,N,,,1,0,,,,,,,,,,,DEFAULT,DEFAULT,DEFAULT,0,0,TD_Map1,,,,,
5,tdwm,AllocGroupStates,1,T,F,NN,DBC,"CREATE TABLE AllocGroupStates ( AllocGroupId INTEGER NOT NULL, StateId INTEGER NOT NULL, CreateDate INTEGER NOT NULL, CreateTime INTEGER FORMAT '99:99:99' NOT NULL, RemoveDate INTEGER NOT NULL, RemoveTime INTEGER FORMAT '99:99:99' NOT NULL, Description VARCHAR(80) CHARACTER SET UNICODE, ConfigId INTEGER NOT NULL, ParentId INTEGER NOT NULL, VersionNo INTEGER NOT NULL, Expedited INTEGER DEFAULT 0, AGWeight INTEGER, CpuLimit INTEGER) PRIMARY INDEX (AllocGroupId, StateId);",,0,0,0,N,,,2023-05-17 11:06:49,DBC,2023-05-17 11:06:49,,,,1,N,N,Y,N,N,,,N,,,2,0,,,,,,,,,,,DEFAULT,DEFAULT,DEFAULT,0,0,TD_Map1,,,,,
6,tdwm,Configurations,1,T,F,NN,DBC,CREATE TABLE tdwm.Configurations AS tdwm_w.Configurations WITH DATA;,,0,0,0,N,,,2023-05-17 11:07:03,DBC,2023-05-17 11:07:03,,,,1,N,N,Y,N,N,,,N,,,1,0,,,,,,,,,0,,DEFAULT,DEFAULT,DEFAULT,0,0,TD_Map1,,,,,
7,tdwm,EventComboActions,1,T,F,NN,DBC,"CREATE TABLE EventComboActions ( EventComboId INTEGER NOT NULL, ActionId INTEGER NOT NULL, CreateDate INTEGER NOT NULL, CreateTime INTEGER FORMAT '99:99:99' NOT NULL, RemoveDate INTEGER NOT NULL, RemoveTime INTEGER FORMAT '99:99:99' NOT NULL, Description VARCHAR(80) CHARACTER SET UNICODE, ConfigId INTEGER NOT NULL, ParentId INTEGER NOT NULL, VersionNo INTEGER NOT NULL, BeginOrEnd VARCHAR(10) CHARACTER SET UNICODE NOT NULL, Precedence INTEGER) PRIMARY INDEX (EventComboId, ActionId);",,0,0,0,N,,,2023-05-17 11:06:44,DBC,2023-05-17 11:06:44,,,,1,N,N,Y,N,N,,,N,,,2,0,,,,,,,,,,,DEFAULT,DEFAULT,DEFAULT,0,0,TD_Map1,,,,,
8,tdwm,EventCombos,1,T,F,NN,DBC,"CREATE TABLE EventCombos ( EventComboId INTEGER NOT NULL, EventComboRowId INTEGER NOT NULL, CreateDate INTEGER NOT NULL, CreateTime INTEGER FORMAT '99:99:99' NOT NULL, RemoveDate INTEGER NOT NULL, RemoveTime INTEGER FORMAT '99:99:99' NOT NULL, Description VARCHAR(80) CHARACTER SET UNICODE, ConfigId INTEGER NOT NULL, ParentId INTEGER NOT NULL, VersionNo INTEGER NOT NULL, EventComboName VARCHAR(30) CHARACTER SET UNICODE NOT NULL, EventClass VARCHAR(10) CHARACTER SET UNICODE NOT NULL, EventOptions INTEGER NOT NULL, Operator VARCHAR(4) CHARACTER SET UNICODE NOT NULL, Arg1Type VARCHAR(10) CHARACTER SET UNICODE NOT NULL, Arg1Id INTEGER NOT NULL, Arg1Not INTEGER NOT NULL, Arg2Type VARCHAR(10) CHARACTER SET UNICODE NOT NULL, Arg2Id INTEGER NOT NULL, Arg2Not INTEGER NOT NULL) PRIMARY INDEX (EventComboId);",,0,0,0,N,,,2023-05-17 11:06:44,DBC,2023-05-17 11:06:44,,,,1,N,N,Y,N,N,,,N,,,1,0,,,,,,,,,,,DEFAULT,DEFAULT,DEFAULT,0,0,TD_Map1,,,,,
9,tdwm,Events,1,T,F,NN,DBC,"CREATE TABLE Events ( EventId INTEGER NOT NULL, CreateDate INTEGER NOT NULL, CreateTime INTEGER FORMAT '99:99:99' NOT NULL, RemoveDate INTEGER NOT NULL, RemoveTime INTEGER FORMAT '99:99:99' NOT NULL, Description VARCHAR(80) CHARACTER SET UNICODE, ConfigId INTEGER NOT NULL, ParentId INTEGER NOT NULL, VersionNo INTEGER NOT NULL, EventName VARCHAR(30) CHARACTER SET UNICODE NOT NULL, EventClass VARCHAR(10) CHARACTER SET UNICODE NOT NULL, EventType VARCHAR(30) CHARACTER SET UNICODE NOT NULL, EventOptions INTEGER NOT NULL, ED1 INTEGER, ED2 INTEGER, ED3 INTEGER, ED4 INTEGER, ED5 INTEGER, ED6 FLOAT, ED7 INTEGER, ED8 INTEGER) PRIMARY INDEX (EventId);",,0,0,0,N,,,2023-05-17 11:06:44,DBC,2023-05-17 11:06:44,,,,1,N,N,Y,N,N,,,N,,,1,0,,,,,,,,,,,DEFAULT,DEFAULT,DEFAULT,0,0,TD_Map1,,,,,
10,tdwm,Exceptions,1,T,F,NN,DBC,CREATE TABLE tdwm.Exceptions AS tdwm_w.Exceptions WITH DATA;,,0,0,0,N,,,2023-05-17 11:07:01,DBC,2023-05-17 11:07:01,,,,1,N,N,Y,N,N,,,N,,,1,0,,,,,,,,,0,,DEFAULT,DEFAULT,DEFAULT,0,0,TD_Map1,,,,,
11,tdwm,GlobalParams,1,T,F,NN,DBC,"CREATE TABLE GlobalParams (ParamName VARCHAR(30) CHARACTER SET UNICODE NOT NULL, ParamValue VARCHAR(30) CHARACTER SET UNICODE NOT NULL) UNIQUE PRIMARY INDEX (ParamName);",,0,0,0,N,,,2023-05-17 11:06:43,DBC,2023-05-17 11:06:43,,,,1,N,N,Y,N,N,,,N,,,1,0,,,,,,,,,,,DEFAULT,DEFAULT,DEFAULT,0,0,TD_Map1,,,,,
12,tdwm,OpEnvs,1,T,F,NN,DBC,CREATE TABLE tdwm.OpEnvs AS tdwm_w.OpEnvs WITH DATA;,,0,0,0,N,,,2023-05-17 11:07:04,DBC,2023-05-17 11:07:04,,,,1,N,N,Y,N,N,,,N,,,1,0,,,,,,,,,0,,DEFAULT,DEFAULT,DEFAULT,0,0,TD_Map1,,,,,
13,tdwm,PsfGlobalOpenvValues,1,T,F,NN,DBC,CREATE TABLE tdwm.PsfGlobalOpenvValues AS tdwm_w.PsfGlobalOpenvValues WITH DATA;,,0,0,0,N,,,2023-05-17 11:07:01,DBC,2023-05-17 11:07:01,,,,1,N,N,Y,N,N,,,N,,,1,0,,,,,,,,,0,,DEFAULT,DEFAULT,DEFAULT,0,0,TD_Map1,,,,,
14,tdwm,PsfGlobalStates,1,T,F,NN,DBC,"CREATE TABLE PsfGlobalStates ( StateId INTEGER NOT NULL, CreateDate INTEGER NOT NULL, CreateTime INTEGER FORMAT '99:99:99' NOT NULL, RemoveDate INTEGER NOT NULL, RemoveTime INTEGER FORMAT '99:99:99' NOT NULL, Description VARCHAR(80) CHARACTER SET UNICODE, ConfigId INTEGER NOT NULL, ParentId INTEGER NOT NULL, VersionNo INTEGER NOT NULL, SystemCpuLimit INTEGER DEFAULT 100, ReservedAWT INTEGER DEFAULT 0, LimitAWT INTEGER DEFAULT 50) PRIMARY INDEX (StateId);",,0,0,0,N,,,2023-05-17 11:06:48,DBC,2023-05-17 11:06:48,,,,1,N,N,Y,N,N,,,N,,,1,0,,,,,,,,,,,DEFAULT,DEFAULT,DEFAULT,0,0,TD_Map1,,,,,
15,tdwm,Redrive,1,T,F,NN,DBC,"CREATE TABLE Redrive ( ObjectType VARCHAR(10) CHARACTER SET UNICODE NOT NULL, ObjectName VARCHAR(128) CHARACTER SET UNICODE NOT NULL, RedriveMethod INTEGER DEFAULT 0) UNIQUE PRIMARY INDEX (ObjectType, ObjectName);",,0,0,0,N,,,2023-05-17 11:06:49,DBC,2023-05-17 11:06:49,,,,1,N,N,Y,N,N,,,N,,,2,0,,,,,,,,,,,DEFAULT,DEFAULT,DEFAULT,0,0,TD_Map1,,,,,
16,tdwm,RscPartitions,1,T,F,NN,DBC,"CREATE TABLE RscPartitions ( RscPartitionId INTEGER NOT NULL, CreateDate INTEGER NOT NULL, CreateTime INTEGER FORMAT '99:99:99' NOT NULL, RemoveDate INTEGER NOT NULL, RemoveTime INTEGER FORMAT '99:99:99' NOT NULL, Description VARCHAR(80) CHARACTER SET UNICODE, ConfigId INTEGER NOT NULL, ParentId INTEGER NOT NULL, VersionNo INTEGER NOT NULL, RPName VARCHAR(16) CHARACTER SET UNICODE NOT NULL, RPNumber INTEGER) PRIMARY INDEX (RscPartitionId);",,0,0,0,N,,,2023-05-17 11:06:48,DBC,2023-05-17 11:06:48,,,,1,N,N,Y,N,N,,,N,,,1,0,,,,,,,,,,,DEFAULT,DEFAULT,DEFAULT,0,0,TD_Map1,,,,,
17,tdwm,RscPartStates,1,T,F,NN,DBC,"CREATE TABLE RscPartStates ( RscPartitionId INTEGER NOT NULL, StateId INTEGER NOT NULL, CreateDate INTEGER NOT NULL, CreateTime INTEGER FORMAT '99:99:99' NOT NULL, RemoveDate INTEGER NOT NULL, RemoveTime INTEGER FORMAT '99:99:99' NOT NULL, Description VARCHAR(80) CHARACTER SET UNICODE, ConfigId INTEGER NOT NULL, ParentId INTEGER NOT NULL, VersionNo INTEGER NOT NULL, RPWeight INTEGER, CpuLimit INTEGER) PRIMARY INDEX (RscPartitionId, StateId);",,0,0,0,N,,,2023-05-17 11:06:48,DBC,2023-05-17 11:06:48,,,,1,N,N,Y,N,N,,,N,,,2,0,,,,,,,,,,,DEFAULT,DEFAULT,DEFAULT,0,0,TD_Map1,,,,,
18,tdwm,RuleBypass,1,T,F,NN,DBC,"CREATE TABLE RuleBypass ( CreateDate INTEGER NOT NULL, CreateTime INTEGER FORMAT '99:99:99' NOT NULL, RemoveDate INTEGER NOT NULL, RemoveTime INTEGER FORMAT '99:99:99' NOT NULL, Description VARCHAR(80) CHARACTER SET UNICODE, ConfigId INTEGER NOT NULL, ParentId INTEGER NOT NULL, VersionNo INTEGER NOT NULL, BypassType VARCHAR(10) CHARACTER SET UNICODE NOT NULL, BypassName VARCHAR(128) CHARACTER SET UNICODE NOT NULL) PRIMARY INDEX (BypassType, BypassName);",,0,0,0,N,,,2023-05-17 11:06:46,DBC,2023-05-17 11:06:46,,,,1,N,N,Y,N,N,,,N,,,2,0,,,,,,,,,,,DEFAULT,DEFAULT,DEFAULT,0,0,TD_Map1,,,,,
19,tdwm,RuleDefs,1,T,F,NN,DBC,CREATE TABLE tdwm.RuleDefs AS tdwm_w.RuleDefs WITH DATA;,,0,0,0,N,,,2023-05-17 11:07:05,DBC,2023-05-17 11:07:05,,,,1,N,N,Y,N,N,,,N,,,1,0,,,,,,,,,0,,DEFAULT,DEFAULT,DEFAULT,0,0,TD_Map1,,,,,
20,tdwm,RuleQualifyCriteria,1,T,F,NN,DBC,CREATE TABLE tdwm.RuleQualifyCriteria AS tdwm_w.RuleQualifyCriteria WITH DATA;,,0,0,0,N,,,2023-05-17 11:07:06,DBC,2023-05-17 11:07:06,,,,1,N,N,Y,N,N,,,N,,,2,0,,,,,,,,,0,,DEFAULT,DEFAULT,DEFAULT,0,0,TD_Map1,,,,,
21,tdwm,RuleStateValues,1,T,F,NN,DBC,CREATE TABLE tdwm.RuleStateValues AS tdwm_w.RuleStateValues WITH DATA;,,0,0,0,N,,,2023-05-17 11:07:06,DBC,2023-05-17 11:07:06,,,,1,N,N,Y,N,N,,,N,,,2,0,,,,,,,,,0,,DEFAULT,DEFAULT,DEFAULT,0,0,TD_Map1,,,,,
22,tdwm,StateDefs,1,T,F,NN,DBC,CREATE TABLE tdwm.StateDefs AS tdwm_w.StateDefs WITH DATA;,,0,0,0,N,,,2023-05-17 11:07:04,DBC,2023-05-17 11:07:04,,,,1,N,N,Y,N,N,,,N,,,1,0,,,,,,,,,0,,DEFAULT,DEFAULT,DEFAULT,0,0,TD_Map1,,,,,
23,tdwm,StatesMatrix,1,T,F,NN,DBC,CREATE TABLE tdwm.StatesMatrix AS tdwm_w.StatesMatrix WITH DATA;,,0,0,0,N,,,2023-05-17 11:07:05,DBC,2023-05-17 11:07:05,,,,1,N,N,Y,N,N,,,N,,,2,0,,,,,,,,,0,,DEFAULT,DEFAULT,DEFAULT,0,0,TD_Map1,,,,,
24,tdwm,SysCons,1,T,F,NN,DBC,CREATE TABLE tdwm.SysCons AS tdwm_w.SysCons WITH DATA;,,0,0,0,N,,,2023-05-17 11:07:04,DBC,2023-05-17 11:07:04,,,,1,N,N,Y,N,N,,,N,,,1,0,,,,,,,,,0,,DEFAULT,DEFAULT,DEFAULT,0,0,TD_Map1,,,,,
25,tdwm,TDWMLock,1,T,F,NN,DBC,CREATE TABLE TDWMLock (LockAll INTEGER);,,0,0,0,N,,,2023-05-17 11:06:49,DBC,2023-05-17 11:06:49,,,,1,N,N,Y,N,N,,,N,,,1,0,,,,,,,,,,,DEFAULT,DEFAULT,DEFAULT,0,0,TD_Map1,,,,,
26,tdwm,VPartitions,1,T,F,NN,DBC,CREATE TABLE tdwm.VPartitions AS tdwm_w.VPartitions WITH DATA;,,0,0,0,N,,,2023-05-17 11:07:01,DBC,2023-05-17 11:07:01,,,,1,N,N,Y,N,N,,,N,,,1,0,,,,,,,,,0,,DEFAULT,DEFAULT,DEFAULT,0,0,TD_Map1,,,,,
27,tdwm,VpOpenvValues,1,T,F,NN,DBC,CREATE TABLE tdwm.VpOpenvValues AS tdwm_w.VpOpenvValues WITH DATA;,,0,0,0,N,,,2023-05-17 11:07:02,DBC,2023-05-17 11:07:02,,,,1,N,N,Y,N,N,,,N,,,2,0,,,,,,,,,0,,DEFAULT,DEFAULT,DEFAULT,0,0,TD_Map1,,,,,
28,tdwm,WlcExceptActions,1,T,F,NN,DBC,CREATE TABLE tdwm.WlcExceptActions AS tdwm_w.WlcExceptActions WITH DATA;,,0,0,0,N,,,2023-05-17 11:07:00,DBC,2023-05-17 11:07:00,,,,1,N,N,Y,N,N,,,N,,,1,0,,,,,,,,,0,,DEFAULT,DEFAULT,DEFAULT,0,0,TD_Map1,,,,,
29,tdwm,WlcExceptCriteria,1,T,F,NN,DBC,CREATE TABLE tdwm.WlcExceptCriteria AS tdwm_w.WlcExceptCriteria WITH DATA;,,0,0,0,N,,,2023-05-17 11:06:59,DBC,2023-05-17 11:06:59,,,,1,N,N,Y,N,N,,,N,,,1,0,,,,,,,,,0,,DEFAULT,DEFAULT,DEFAULT,0,0,TD_Map1,,,,,
30,tdwm,WlcExceptions,1,T,F,NN,DBC,CREATE TABLE tdwm.WlcExceptions AS tdwm_w.WlcExceptions WITH DATA;,,0,0,0,N,,,2023-05-17 11:07:00,DBC,2023-05-17 11:07:00,,,,1,N,N,Y,N,N,,,N,,,3,0,,,,,,,,,0,,DEFAULT,DEFAULT,DEFAULT,0,0,TD_Map1,,,,,
31,tdwm,WlcOpenvValues,1,T,F,NN,DBC,CREATE TABLE tdwm.WlcOpenvValues AS tdwm_w.WlcOpenvValues WITH DATA;,,0,0,0,N,,,2023-05-17 11:06:59,DBC,2023-05-17 11:06:59,,,,1,N,N,Y,N,N,,,N,,,2,0,,,,,,,,,0,,DEFAULT,DEFAULT,DEFAULT,0,0,TD_Map1,,,,,
32,tdwm,WlcPerfGroupMappings,1,T,F,NN,DBC,CREATE TABLE tdwm.WlcPerfGroupMappings AS tdwm_w.WlcPerfGroupMappings WITH DATA;,,0,0,0,N,,,2023-05-17 11:07:03,DBC,2023-05-17 11:07:03,,,,1,N,N,Y,N,N,,,N,,,2,0,,,,,,,,,0,,DEFAULT,DEFAULT,DEFAULT,0,0,TD_Map1,,,,,
33,tdwm,WlcUtilityMappings,1,T,F,NN,DBC,CREATE TABLE tdwm.WlcUtilityMappings AS tdwm_w.WlcUtilityMappings WITH DATA;,,0,0,0,N,,,2023-05-17 11:07:02,DBC,2023-05-17 11:07:02,,,,1,N,N,Y,N,N,,,N,,,2,0,,,,,,,,,0,,DEFAULT,DEFAULT,DEFAULT,0,0,TD_Map1,,,,,
34,TDStats,AnalyzerEvidenceTbl,1,T,F,NN,DBC,"CREATE TABLE TDSTATS.AnalyzerEvidenceTbl , FALLBACK , NO BEFORE JOURNAL, NO AFTER JOURNAL, CHECKSUM = DEFAULT ( AnalysisId BIGINT NOT NULL, SCOID BIGINT NOT NULL, RecTimeStamp TIMESTAMP(6) WITH TIME ZONE, AnalysisType CHAR(1) CHARACTER SET LATIN UPPERCASE NOT CASESPECIFIC, RecType CHAR(1) CHARACTER SET LATIN UPPERCASE NOT CASESPECIFIC, FieldType CHAR(1) CHARACTER SET LATIN UPPERCASE NOT CASESPECIFIC, TotalQueries BIGINT, QueryList VARCHAR(2000) CHARACTER SET LATIN NOT CASESPECIFIC, CardEstErrFreq BIGINT, CardEstErrQueryList VARCHAR(2000) CHARACTER SET LATIN NOT CASESPECIFIC, MissedSLGFreq BIGINT, MissedSLGQueryList VARCHAR(2000) CHARACTER SET LATIN NOT CASESPECIFIC, AvgImportance FLOAT, AvgImportanceText VARCHAR(10) CHARACTER SET LATIN NOT CASESPECIFIC, PlanCostMagnitude INTEGER, LastOptUsage TimeStamp(6) WITH TIME ZONE, OptUsageCount BIGINT, CollectionElapsedTime INTERVAL HOUR(4) TO SECOND, CollectionIOCount BIGINT, CollectionCPUTime FLOAT ) PRIMARY INDEX (AnalysisId, SCOID) INDEX ( SCOID );",,0,0,0,N,,,2023-05-17 11:03:21,DBC,2023-05-17 11:03:21,,,,1,N,N,Y,N,N,,,N,,,2,0,,,,,,,,,,,DEFAULT,DEFAULT,DEFAULT,0,0,TD_Map1,,,,,
35,TDStats,AnalyzerHistoryTbl,1,T,F,NN,DBC,"CREATE TABLE TDSTATS.AnalyzerHistoryTbl , FALLBACK , NO BEFORE JOURNAL, NO AFTER JOURNAL, CHECKSUM = DEFAULT ( AnalysisId BIGINT NOT NULL, SCOID BIGINT, StatsId INTEGER, EventTimeStamp TIMESTAMP(6) WITH TIME ZONE, EventType CHAR(1) CHARACTER SET LATIN UPPERCASE NOT CASESPECIFIC, EventFreq INTEGER, StatsType CHAR(1) CHARACTER SET LATIN UPPERCASE NOT CASESPECIFIC, DataBaseName VARCHAR(128) CHARACTER SET UNICODE NOT CASESPECIFIC, DatabaseId BYTE(4) NOT NULL, ObjectName VARCHAR(128) CHARACTER SET UNICODE NOT CASESPECIFIC, ObjectId BYTE(6), FieldType CHAR(1) CHARACTER SET LATIN UPPERCASE NOT CASESPECIFIC, FieldNames VARCHAR(10000) CHARACTER SET UNICODE NOT CASESPECIFIC, ExpressionList VARCHAR(10000) CHARACTER SET UNICODE NOT CASESPECIFIC, IndexNumber INTEGER, MissingQueryText CLOB CHARACTER SET UNICODE, NeedsAutomation CHAR(1) CHARACTER SET LATIN UPPERCASE NOT CASESPECIFIC, MarkedStale CHAR(1) CHARACTER SET LATIN UPPERCASE NOT CASESPECIFIC, MarkedApproved CHAR(1) CHARACTER SET LATIN UPPERCASE NOT CASESPECIFIC, MarkedInactive CHAR(1) CHARACTER SET LATIN UPPERCASE NOT CASESPECIFIC, MarkedInvalid CHAR(1) CHARACTER SET LATIN UPPERCASE NOT CASESPECIFIC, MarkedSummaryOnly CHAR(1) CHARACTER SET LATIN UPPERCASE NOT CASESPECIFIC, ReasonForClean CHAR(1) CHARACTER SET LATIN UPPERCASE NOT CASESPECIFIC, LastAccessedByOpt TIMESTAMP(6) WITH TIME ZONE, AvgImportance FLOAT, MinImportance INTEGER, MaxImportance INTEGER, CardEstErrFreq INTEGER, MostRecentCardErr TIMESTAMP(6) WITH TIME ZONE, MostRecentStaleness TIMESTAMP(6) WITH TIME ZONE, MissingRank INTEGER, EstPercentDataChange INTEGER DEFAULT NULL, MissingCritical CHAR(1) CHARACTER SET LATIN UPPERCASE NOT CASESPECIFIC, EventDescription VARCHAR(256) CHARACTER SET UNICODE NOT CASESPECIFIC, MaxValueLength INTEGER, MissedSLGFreq BIGINT, MostRecentMissedSLG TIMESTAMP(6) WITH TIME ZONE, LastAlterEventTimeStamp TIMESTAMP(6) WITH TIME ZONE ) PRIMARY INDEX (AnalysisId, SCOID) INDEX ( SCOID );",,0,0,0,N,,,2023-05-17 11:03:20,DBC,2023-05-17 11:03:20,,,,1,N,N,Y,N,N,,,N,,,2,0,,,,,,,,,,,DEFAULT,DEFAULT,DEFAULT,0,0,TD_Map1,,,,,
36,TDStats,AutomateHistoryTbl,1,T,F,NN,DBC,"CREATE TABLE TDSTATS.AutomateHistoryTbl , FALLBACK , NO BEFORE JOURNAL, NO AFTER JOURNAL, CHECKSUM = DEFAULT ( AutomateId BIGINT NOT NULL, SCOID BIGINT, StatsId INTEGER, EventTimeStamp TIMESTAMP(6) WITH TIME ZONE, AutomateUser BYTE(4), DataBaseName VARCHAR(128) CHARACTER SET UNICODE NOT CASESPECIFIC, DatabaseId BYTE(4), ObjectName VARCHAR(128) CHARACTER SET UNICODE NOT CASESPECIFIC, ObjectId BYTE(6), MarkedApproved CHAR(1) CHARACTER SET LATIN UPPERCASE NOT CASESPECIFIC, EventType CHAR(1) CHARACTER SET LATIN UPPERCASE NOT CASESPECIFIC, EventDescription VARCHAR(128) CHARACTER SET UNICODE NOT CASESPECIFIC ) PRIMARY INDEX (AutomateId, SCOID) INDEX (SCOID );",,0,0,0,N,,,2023-05-17 11:03:20,DBC,2023-05-17 11:03:20,,,,1,N,N,Y,N,N,,,N,,,2,0,,,,,,,,,,,DEFAULT,DEFAULT,DEFAULT,0,0,TD_Map1,,,,,

<hr>
<b style = 'font-size:18px;font-family:Arial;color:#E37C4D'>Aggregation</b>

<p style = 'font-size:16px;font-family:Arial'>We can aggregate multiple rows together in a similar way as pivot tables work in Excel. For example, to count how many object (tables, views, macros, stored procedures, functions, etc) we have with the same name in Vantage, we would do:</p>

In [12]:
SELECT top 20 DatabaseName, count(*) as ObjectCount FROM DBC.TablesV
GROUP BY DatabaseName  
ORDER BY DatabaseName

,DataBaseName,ObjectCount
1,DBC,872
2,dbcmngr,2
3,DemoNow_Monitor,1
4,DEMO_RemaingUsefulLife,1
5,demo_user,86
6,GLOBAL_FUNCTIONS,1
7,gs_tables_db,4
8,LockLogShredder,5
9,mldb,10
10,SQLJ,11
11,SysAdmin,6
12,SYSBAR,6
13,SYSJDBC,3
14,SYSLIB,133
15,SYSSPATIAL,25
16,SystemFe,64
17,SYSUDTLIB,395
18,SYSUIF,6
19,Sys_Calendar,15
20,tapidb,2


<p style = 'font-size:16px;font-family:Arial'>In the <b>SELECT</b> example below, we use a sub query to aggregate object size within a database, then we use functions to get the minimum and maximum object size and count for each database.  (The counts are different from above because views and macros take no space).</p>

<p style = 'font-size:16px;font-family:Arial'>There are multiple aggregation functions:</p>

<ul style = 'font-size:16px;font-family:Arial'>
    <li>SUM(X) to sum all the X values</li>
<li>AVG(X) for the average of X</li>
<li>MIN(X) for the smallest X value</li>
<li>MAX(X) for the largest X value</li>
</ul>

<p style = 'font-size:16px;font-family:Arial'>For example:</p>

In [13]:
SELECT
    TOP 20 databasename,
    MIN(TableBytes)  AS MinSize,
    MAX(TableBytes)  AS MaxSize,
    COUNT(*) AS #Objects_Using_Space
FROM (
    SELECT
        DatabaseName,
        TableName,
        Sum(CurrentPerm) as TableBytes   
        From DBC.TablesizeV
        Group By DatabaseName, Tablename
    ) as Subtotals 
GROUP BY DatabaseName order by DatabaseName;

,DataBaseName,MinSize,MaxSize,#Objects_Using_Space
1,DBC,65536,142737408,189
2,dbcmngr,65536,65536,2
3,DemoNow_Monitor,98304,98304,1
4,demo_user,65536,7593984,77
5,GLOBAL_FUNCTIONS,131072,131072,1
6,gs_tables_db,65536,65536,2
7,LockLogShredder,65536,229376,5
8,mldb,65536,35610624,10
9,SQLJ,65536,196608,8
10,SysAdmin,65536,786432,2
11,SYSBAR,65536,65536,3
12,SYSLIB,65536,2031616,92
13,SYSSPATIAL,65536,729088,25
14,SystemFe,65536,524288,26
15,SYSUDTLIB,98304,491520,21
16,SYSUIF,98304,98304,4
17,Sys_Calendar,1703936,1703936,1
18,tapidb,98304,2064384,2
19,TDaaS_DB,98304,524288,11
20,TDBCMgmt,65536,65536,1


<p style = 'font-size:16px;font-family:Arial'>For courageous readers, you can also try the following aggregation functions:</p>

<ul style = 'font-size:16px;font-family:Arial'>
<li>STDDEV_POP(X) and STDDEV_SAMP(X) to measure the standard deviation of the X distribution (for the full population, and for a sampled population)
<li>VAR_POP(X) and VAR_SAMP(X) to measure the variance of the X distribution (for the full population, and for a sampled population)
<li>COVAR_POP(X,Y) and COVAR_SAMP(X,Y) to measure the covariance between X and Y (for the full population, and for a sampled population)
<li>CORR(X,Y) to measure the correlation between the columns X and Y
<li>KURTOSIS(X) to measure the kurtosis of the X distribution **minus** 3 (the tailedness of the distribution, it should be around 0 for a Normal/Gaussian distribution)
<li>SKEW(X) to measure the skewness of the X distribution (the asymetry of the distribution, it should be around 0 for a Normal/Gaussian distribution) 
</ul>

<footer style="padding:10px;background:#f9f9f9;border-bottom:3px solid #394851">©2022 Teradata. All Rights Reserved</footer>