<header>
   <p  style='font-size:36px;font-family:Arial; color:#F0F0F0; background-color: #00233c; padding-left: 20pt; padding-top: 20pt;padding-bottom: 10pt; padding-right: 20pt;'>
       Vantage SQL Plugin Basics
  <br>
       <img id="teradata-logo" src="https://storage.googleapis.com/clearscape_analytics_demo_data/DEMO_Logo/teradata.svg" alt="Teradata" style="width: 125px; height: auto; margin-top: 20pt;">
    </p>
</header>

<p style = 'font-size:16px;font-family:Arial;color:#00233C'>Welcome to this introductory guide. This guide will walk you through your first SQL queries.  A more extensive notebook with more commands can be found online in the Teradata Vantage Modules for Jupyter <a href = 'https://teradata.github.io/jupyterextensions/#/'>Here.</a></p>

<hr style="height:1px;border:none;background-color:#00233C;">
<p style = 'font-size:16px;font-family:Arial;color:#00233C'>For help on available "magic" commands in the Teradata SQL plugin, run the following cell:</p>

In [1]:
%help

%help **command** - Display detailed help for one magic command (without %).</br>
%help **all** - Display detailed help for all magic commands.</br>
%help **snippets** - Display the list of SQL command Snippets.</br>
%help **rowcount** - Display the current rowcount value.</br>
%help **currentdb** - Display the current database for the user.</br>
%help **hidewarnings** - Display the current hide warnings value.</br>
#### Notation conventions: Items in [] are optional, all others are required.  Parameter names are not case sensitive.</br>
#### Magic Commands:</br>
**%addconnect** - Add a Teradata Vantage database connection specification.</br>**%connect** - Connect to a Vantage system and/or make the connection active.</br>**%disconnect** - Disconnect from a Vantage system.</br>**%rmconnect** - Remove a connection specification.</br>**%chconnect** - Change a connection specification.</br>**%lsconnect** - List the known connections.</br>**%chart** - Display a Vega-Lite visualization of a query result set or an existing Vega or VegaLite chart.</br>**%table** - Display a previous result set as a table.</br>**%meta** - Display metadata of a previous result set.</br>**%dataload** - Load a CSV file into a database table.</br>**%history** - Display a table or the details of previously executed commands.
		If a single history item is specified, the details for that item will be displayed.</br>**%rmhistory** - Remove one or more history items and associated result set(s).</br>**%var** - Define one or more variables for use in SQL statements and magic commands.</br>**%lsvar** - List one or more variables. If no names are provided, list all defined variables.</br>**%rmvar** - Remove one or more defined variables.</br>**%pyinfo** - Display information about the version of Python installed on the Vantage system.</br>**%rinfo** - Display information about the version of R installed on the Vantage system.</br>**%runsto** - Run a Script Table Operator.</br>**%installfile** - Install a file onto the Vantage system.</br>**%rmfile** - Remove a file that has been installed on the Vantage system.</br>**%showfile** - Display the contents of a file that has been installed on the Vantage system.</br>**%loglevel** - Set the logging level for the Teradata SQL kernel.</br>**%lsmagic** - List the supported magic commands.</br>**%quickref** - Display help for magic commands.</br>**%help** - Display help for magic commands.</br>**%savecolumn** - Save a BLOB column data to a file.</br>

<hr style="height:2px;border:none;background-color:#00233C;">
<p style = 'font-size:20px;font-family:Arial;color:#00233C'><b>Object Browser</b></p>

<p style = 'font-size:16px;font-family:Arial;color:#00233C'>Included with the plugin is a browser that allows you to view the databases and tables on your ClearScape Analytics Experience platform.  Note that if you haven't run any demos or haven't used the data dictionary, you will only see system tables.</p>

<ol style = 'font-size:16px;font-family:Arial;color:#00233C'>
    <li>Select <b>File/New Launcher</b> or if there is a launcher t to a launcher (new or existing)</li>
<li>Click Navigator</li>
<li>Select database profile</li>
</ol>

<hr style="height:2px;border:none;background-color:#00233C;">
<p style = 'font-size:20px;font-family:Arial;color:#00233C'><b>Introduction to SQL</b></p>

<p style = 'font-size:16px;font-family:Arial;color:#00233C'>This page is a Jupyter Notebook. Looking at the top-right corner, you can see that it is running a *Teradata SQL* kernel. Other kernel include R and Python. This means that any command on this notebook will have to be a SQL statement.</p>

<p style = 'font-size:16px;font-family:Arial;color:#00233C'>The first step with any SQL editor or Jupyter Notebook is to connect to a Teradata system.</p>

<p style = 'font-size:16px;font-family:Arial;color:#00233C'>If this notebook is being run from the Vantage LIVE image, three connections should already be set up; representing connections to Transcend Production, Transcend AWS, and Vantage LIVE (Azure).  The below command will list configured connections</p>

In [2]:
%lsconnect

Disconnected: NAME=local, USER=demo_user, HOST=host.docker.internal, DATABASE=demo_user

In [3]:
%connect local, hidewarnings=true

Password: ········

Success: 'local' connection established and activated for user 'demo_user', with default database 'demo_user'

<p style = 'font-size:16px;font-family:Arial;color:#00233C'>You are connected if the last command returned `Success:... connection established`</p>

<p style = 'font-size:16px;font-family:Arial;color:#00233C'>The most simple SQL you can run is to calculate a formula, for example 2+2. Click on the cell below and press Shift-Return to execute its content. The result is saved in the Teradata directory mentioned above with the exact path below which can be accessed/downloaded from the file browser on the left.</p>

In [4]:
SELECT 2+5

,(2+5)
1,7

<p style = 'font-size:16px;font-family:Arial;color:#00233C'>Now, let's run your first real SQL query. Click in the cell below and press Shift+Return to execute it. It will retrieve ten rows from a table named DBC.TablesV</p>

In [5]:
SELECT TOP 5 * FROM DBC.TablesV;

<p style = 'font-size:16px;font-family:Arial;color:#00233C'>
    This is the simplest high-level SQL query. <b>SELECT</b> is a SQL keyword that starts the first section on defining the columns we wan to extract. <b>FROM</b> is a SQL keyword that starts the source data section. <b>DBC.TablesV</b> is the table we want to extract all the columns.</p>

<p style = 'font-size:16px;font-family:Arial;color:#00233C'>
    Instead of "shift+Enter", one can also click on the <b>Execute</b> button (triangular Play button in the top toolbar) will run the SQL query on our Vantage environment</p>

<p style = 'font-size:16px;font-family:Arial;color:#00233C'>After a few seconds you will find the results in the result window. You can select any cell, type Ctrl-C to copy the data, and then Ctrl-P in Excel to paste the data for further analysis (filtering, pivoting, etc.).</p>

<p style = 'font-size:16px;font-family:Arial;color:#00233C'>The results include the following columns:</p>

<ul style = 'font-size:16px;font-family:Arial;color:#00233C'>
    <li>DatabaseName, name of the database a table is in</li>
<li>TableName, name of the table</li>
<li>Version</li>
<li>TableKind</li>
<li>ProtectionType</li>
<li>JournalFlag</li>
<li>CreatorName</li>
<li>RequestText</li>
<li>CommentString</li>
<li>ParentCount</li>
<li>ChildCount</li>
<li>...</li>
</ul>

<p style = 'font-size:16px;font-family:Arial;color:#00233C'>To select specific columns, we define them in the <b>SELECT</b> statement delimitated by a comma. For readability, we will enter each one on a new line and use a nice tabular form:</p>

In [6]:
SELECT TOP 5 TableName, DatabaseName FROM DBC.TablesV;

,TableName,DataBaseName
1,pima_patient_features,modelops
2,byte2int,GLOBAL_FUNCTIONS
3,ESCREPEAT,SYSJDBC
4,pima_patient_predictions,modelops
5,aoa_statistics_metadata,modelops

<hr style="height:2px;border:none;background-color:#00233C;">
<p style = 'font-size:20px;font-family:Arial;color:#00233C'><b>Ordering</b></p>

<p style = 'font-size:16px;font-family:Arial;color:#00233C'>We can order the data by Name:</p>

In [7]:
SELECT TOP 5 TableName, DatabaseName FROM DBC.TablesV ORDER BY TableName;

,TableName,DataBaseName
1,AbortCollect,TDStats
2,AbortListSessions,SYSLIB
3,AbortSessions,SYSLIB
4,AccessLog,DBC
5,AccessLogV,DBC

<p style = 'font-size:16px;font-family:Arial;color:#00233C'>We added here the SQL keyword <b>ORDER BY</b> followed by the column on which we want to order the data.</p>

<p style = 'font-size:16px;font-family:Arial;color:#00233C'>To order in descending order, we add the SQL keyword <b>DESC</b> next to the column name:</p>

In [8]:
SELECT TOP 5 TableName, DatabaseName FROM DBC.TablesV ORDER BY TableName DESC;

,TableName,DataBaseName
1,_val_ks_out1,demo_user
2,_val_chisquare_out,demo_user
3,_val_binomial_example4,demo_user
4,_val_binomial_example2,demo_user
5,_TWM_1_TO_1_AFFINITY,demo_user

<p style = 'font-size:16px;font-family:Arial;color:#00233C'>We can order using multiple columns, for example:</p>

In [9]:
SELECT
    TOP 5 *
FROM
    DBC.TablesV
ORDER BY DatabaseName DESC, TableName

,DataBaseName,TableName,Version,TableKind,ProtectionType,JournalFlag,CreatorName,RequestText,CommentString,ParentCount,ChildCount,NamedTblCheckCount,UnnamedTblCheckExist,PrimaryKeyIndexId,RepStatus,CreateTimeStamp,LastAlterName,LastAlterTimeStamp,RequestTxtOverflow,AccessCount,LastAccessTimeStamp,UtilVersion,QueueFlag,CommitOpt,TransLog,CheckOpt,TemporalProperty,ResolvedCurrent_Date,ResolvedCurrent_Timestamp,SystemDefinedJI,VTQualifier,TTQualifier,PIColumnCount,PartitioningLevels,LoadProperty,CurrentLoadId,LoadIdLayout,DelayedJI,LastArchiveId,LastFullArchiveId,BlockSize,FreeSpacePercent,MergeBlockRatio,CheckSum,BlockCompression,BlockCompressionAlgorithm,BlockCompressionLevel,TableHeaderFormat,RowSizeFormat,MapName,ColocationName,TVMFlavor,FastAlterTable,IncrementalRestoreEnabled,AuthName
1,val,accounts,1,T,F,NN,val,"CREATE SET TABLE accounts ,NO BEFORE JOURNAL ,NO AFTER JOURNAL ( acct_nbr CHAR(16) CHARACTER SET LATIN NOT CASESPECIFIC NOT NULL ,cust_id INTEGER ,acct_type CHAR(2) CHARACTER SET LATIN NOT CASESPECIFIC ,account_active CHAR(1) CHARACTER SET LATIN NOT CASESPECIFIC ,acct_start_date DATE FORMAT 'YYYY-MM-DD' ,acct_end_date DATE FORMAT 'YYYY-MM-DD' ,starting_balance DECIMAL(9,2) ,ending_balance DECIMAL(9,2) ) UNIQUE PRIMARY INDEX ( acct_nbr );",,0,0,0,N,,,2023-12-18 10:14:23,val,2023-12-18 10:14:23,,,,1,N,N,Y,N,N,,,N,,,1,0,,,,,,,,,,,DEFAULT,DEFAULT,DEFAULT,0,0,TD_Map1,,,,,
2,val,checking_acct,1,T,F,NN,val,"CREATE SET TABLE checking_acct ,NO BEFORE JOURNAL ,NO AFTER JOURNAL ( cust_id INTEGER NOT NULL ,acct_nbr CHAR(16) CHARACTER SET LATIN NOT CASESPECIFIC ,minimum_balance INTEGER ,per_check_fee DECIMAL(9,2) FORMAT '--Z(6)9.99' ,account_active CHAR(1) CHARACTER SET LATIN NOT CASESPECIFIC ,acct_start_date DATE FORMAT 'YYYYMMDD' ,acct_end_date DATE FORMAT 'YYYYMMDD' ,starting_balance DECIMAL(9,2) FORMAT '--Z(6)9.99' ,ending_balance DECIMAL(9,2) FORMAT '--Z(6)9.99' ) UNIQUE PRIMARY INDEX ( cust_id );",,0,0,0,N,,,2023-12-18 10:14:23,val,2023-12-18 10:14:23,,,,1,N,N,Y,N,N,,,N,,,1,0,,,,,,,,,,,DEFAULT,DEFAULT,DEFAULT,0,0,TD_Map1,,,,,
3,val,checking_tran,1,T,F,NN,val,"CREATE SET TABLE checking_tran ,NO BEFORE JOURNAL ,NO AFTER JOURNAL ( cust_id INTEGER ,tran_id INTEGER ,tran_amt DECIMAL(9,2) FORMAT '--Z(6)9.99' ,principal_amt DECIMAL(9,2) FORMAT '--Z(6)9.99' ,interest_amt DECIMAL(9,2) FORMAT '--Z(6)9.99' ,new_balance DECIMAL(9,2) FORMAT '--Z(6)9.99' ,tran_date DATE FORMAT 'YYYYMMDD' ,tran_time CHAR(6) CHARACTER SET LATIN NOT CASESPECIFIC ,channel CHAR(1) CHARACTER SET LATIN NOT CASESPECIFIC ,tran_code CHAR(2) CHARACTER SET LATIN NOT CASESPECIFIC ) UNIQUE PRIMARY INDEX ( cust_id,tran_id );",,0,0,0,N,,,2023-12-18 10:14:23,val,2023-12-18 10:14:23,,,,1,N,N,Y,N,N,,,N,,,2,0,,,,,,,,,,,DEFAULT,DEFAULT,DEFAULT,0,0,TD_Map1,,,,,
4,val,credit_acct,1,T,F,NN,val,"CREATE SET TABLE credit_acct ,NO BEFORE JOURNAL ,NO AFTER JOURNAL ( cust_id INTEGER ,acct_nbr CHAR(16) CHARACTER SET LATIN NOT CASESPECIFIC ,credit_limit INTEGER ,credit_rating SMALLINT ,account_active CHAR(1) CHARACTER SET LATIN NOT CASESPECIFIC ,acct_start_date DATE FORMAT 'YYYYMMDD' ,acct_end_date DATE FORMAT 'YYYYMMDD' ,starting_balance DECIMAL(9,2) FORMAT '--Z(6)9.99' ,ending_balance DECIMAL(9,2) FORMAT '--Z(6)9.99' ) UNIQUE PRIMARY INDEX ( cust_id );",,0,0,0,N,,,2023-12-18 10:14:25,val,2023-12-18 10:14:25,,,,1,N,N,Y,N,N,,,N,,,1,0,,,,,,,,,,,DEFAULT,DEFAULT,DEFAULT,0,0,TD_Map1,,,,,
5,val,credit_tran,1,T,F,NN,val,"CREATE SET TABLE credit_tran ,NO BEFORE JOURNAL ,NO AFTER JOURNAL ( cust_id INTEGER ,tran_id INTEGER ,tran_amt DECIMAL(9,2) FORMAT '--Z(6)9.99' ,principal_amt DECIMAL(9,2) FORMAT '--Z(6)9.99' ,interest_amt DECIMAL(9,2) FORMAT '--Z(6)9.99' ,new_balance DECIMAL(9,2) FORMAT '--Z(6)9.99' ,tran_date DATE FORMAT 'YYYYMMDD' ,tran_time CHAR(6) CHARACTER SET LATIN NOT CASESPECIFIC ,channel CHAR(1) CHARACTER SET LATIN NOT CASESPECIFIC ,tran_code CHAR(2) CHARACTER SET LATIN NOT CASESPECIFIC ) UNIQUE PRIMARY INDEX ( cust_id,tran_id );",,0,0,0,N,,,2023-12-18 10:14:25,val,2023-12-18 10:14:25,,,,1,N,N,Y,N,N,,,N,,,2,0,,,,,,,,,,,DEFAULT,DEFAULT,DEFAULT,0,0,TD_Map1,,,,,

<hr style="height:2px;border:none;background-color:#00233C;">
<p style = 'font-size:20px;font-family:Arial;color:#00233C'><b>Filtering</b></p>

<p style = 'font-size:16px;font-family:Arial;color:#00233C'>We can filter for specific value with the SQL keyword <b>WHERE</b>. For example:</p>

In [10]:
SELECT TOP 5 * FROM DBC.TablesV
WHERE TableKind = 'T'
ORDER BY DatabaseName DESC, TableName

,DataBaseName,TableName,Version,TableKind,ProtectionType,JournalFlag,CreatorName,RequestText,CommentString,ParentCount,ChildCount,NamedTblCheckCount,UnnamedTblCheckExist,PrimaryKeyIndexId,RepStatus,CreateTimeStamp,LastAlterName,LastAlterTimeStamp,RequestTxtOverflow,AccessCount,LastAccessTimeStamp,UtilVersion,QueueFlag,CommitOpt,TransLog,CheckOpt,TemporalProperty,ResolvedCurrent_Date,ResolvedCurrent_Timestamp,SystemDefinedJI,VTQualifier,TTQualifier,PIColumnCount,PartitioningLevels,LoadProperty,CurrentLoadId,LoadIdLayout,DelayedJI,LastArchiveId,LastFullArchiveId,BlockSize,FreeSpacePercent,MergeBlockRatio,CheckSum,BlockCompression,BlockCompressionAlgorithm,BlockCompressionLevel,TableHeaderFormat,RowSizeFormat,MapName,ColocationName,TVMFlavor,FastAlterTable,IncrementalRestoreEnabled,AuthName
1,val,accounts,1,T,F,NN,val,"CREATE SET TABLE accounts ,NO BEFORE JOURNAL ,NO AFTER JOURNAL ( acct_nbr CHAR(16) CHARACTER SET LATIN NOT CASESPECIFIC NOT NULL ,cust_id INTEGER ,acct_type CHAR(2) CHARACTER SET LATIN NOT CASESPECIFIC ,account_active CHAR(1) CHARACTER SET LATIN NOT CASESPECIFIC ,acct_start_date DATE FORMAT 'YYYY-MM-DD' ,acct_end_date DATE FORMAT 'YYYY-MM-DD' ,starting_balance DECIMAL(9,2) ,ending_balance DECIMAL(9,2) ) UNIQUE PRIMARY INDEX ( acct_nbr );",,0,0,0,N,,,2023-12-18 10:14:23,val,2023-12-18 10:14:23,,,,1,N,N,Y,N,N,,,N,,,1,0,,,,,,,,,,,DEFAULT,DEFAULT,DEFAULT,0,0,TD_Map1,,,,,
2,val,checking_acct,1,T,F,NN,val,"CREATE SET TABLE checking_acct ,NO BEFORE JOURNAL ,NO AFTER JOURNAL ( cust_id INTEGER NOT NULL ,acct_nbr CHAR(16) CHARACTER SET LATIN NOT CASESPECIFIC ,minimum_balance INTEGER ,per_check_fee DECIMAL(9,2) FORMAT '--Z(6)9.99' ,account_active CHAR(1) CHARACTER SET LATIN NOT CASESPECIFIC ,acct_start_date DATE FORMAT 'YYYYMMDD' ,acct_end_date DATE FORMAT 'YYYYMMDD' ,starting_balance DECIMAL(9,2) FORMAT '--Z(6)9.99' ,ending_balance DECIMAL(9,2) FORMAT '--Z(6)9.99' ) UNIQUE PRIMARY INDEX ( cust_id );",,0,0,0,N,,,2023-12-18 10:14:23,val,2023-12-18 10:14:23,,,,1,N,N,Y,N,N,,,N,,,1,0,,,,,,,,,,,DEFAULT,DEFAULT,DEFAULT,0,0,TD_Map1,,,,,
3,val,checking_tran,1,T,F,NN,val,"CREATE SET TABLE checking_tran ,NO BEFORE JOURNAL ,NO AFTER JOURNAL ( cust_id INTEGER ,tran_id INTEGER ,tran_amt DECIMAL(9,2) FORMAT '--Z(6)9.99' ,principal_amt DECIMAL(9,2) FORMAT '--Z(6)9.99' ,interest_amt DECIMAL(9,2) FORMAT '--Z(6)9.99' ,new_balance DECIMAL(9,2) FORMAT '--Z(6)9.99' ,tran_date DATE FORMAT 'YYYYMMDD' ,tran_time CHAR(6) CHARACTER SET LATIN NOT CASESPECIFIC ,channel CHAR(1) CHARACTER SET LATIN NOT CASESPECIFIC ,tran_code CHAR(2) CHARACTER SET LATIN NOT CASESPECIFIC ) UNIQUE PRIMARY INDEX ( cust_id,tran_id );",,0,0,0,N,,,2023-12-18 10:14:23,val,2023-12-18 10:14:23,,,,1,N,N,Y,N,N,,,N,,,2,0,,,,,,,,,,,DEFAULT,DEFAULT,DEFAULT,0,0,TD_Map1,,,,,
4,val,credit_acct,1,T,F,NN,val,"CREATE SET TABLE credit_acct ,NO BEFORE JOURNAL ,NO AFTER JOURNAL ( cust_id INTEGER ,acct_nbr CHAR(16) CHARACTER SET LATIN NOT CASESPECIFIC ,credit_limit INTEGER ,credit_rating SMALLINT ,account_active CHAR(1) CHARACTER SET LATIN NOT CASESPECIFIC ,acct_start_date DATE FORMAT 'YYYYMMDD' ,acct_end_date DATE FORMAT 'YYYYMMDD' ,starting_balance DECIMAL(9,2) FORMAT '--Z(6)9.99' ,ending_balance DECIMAL(9,2) FORMAT '--Z(6)9.99' ) UNIQUE PRIMARY INDEX ( cust_id );",,0,0,0,N,,,2023-12-18 10:14:25,val,2023-12-18 10:14:25,,,,1,N,N,Y,N,N,,,N,,,1,0,,,,,,,,,,,DEFAULT,DEFAULT,DEFAULT,0,0,TD_Map1,,,,,
5,val,credit_tran,1,T,F,NN,val,"CREATE SET TABLE credit_tran ,NO BEFORE JOURNAL ,NO AFTER JOURNAL ( cust_id INTEGER ,tran_id INTEGER ,tran_amt DECIMAL(9,2) FORMAT '--Z(6)9.99' ,principal_amt DECIMAL(9,2) FORMAT '--Z(6)9.99' ,interest_amt DECIMAL(9,2) FORMAT '--Z(6)9.99' ,new_balance DECIMAL(9,2) FORMAT '--Z(6)9.99' ,tran_date DATE FORMAT 'YYYYMMDD' ,tran_time CHAR(6) CHARACTER SET LATIN NOT CASESPECIFIC ,channel CHAR(1) CHARACTER SET LATIN NOT CASESPECIFIC ,tran_code CHAR(2) CHARACTER SET LATIN NOT CASESPECIFIC ) UNIQUE PRIMARY INDEX ( cust_id,tran_id );",,0,0,0,N,,,2023-12-18 10:14:25,val,2023-12-18 10:14:25,,,,1,N,N,Y,N,N,,,N,,,2,0,,,,,,,,,,,DEFAULT,DEFAULT,DEFAULT,0,0,TD_Map1,,,,,

<p style = 'font-size:16px;font-family:Arial;color:#00233C'>We use the SQL keyword **AND** and **OR** with parenthesis to define any logic. For example, to select only the CreatorName of DBC OR SYSADM:</p>

In [11]:
SELECT TOP 5 * FROM DBC.TablesV
WHERE (TableKind = 'T' AND CreatorName = 'DBC')
  OR (TableKind = 'T' AND CreatorName = 'SYSADM')
ORDER BY DatabaseName DESC, TableName

,DataBaseName,TableName,Version,TableKind,ProtectionType,JournalFlag,CreatorName,RequestText,CommentString,ParentCount,ChildCount,NamedTblCheckCount,UnnamedTblCheckExist,PrimaryKeyIndexId,RepStatus,CreateTimeStamp,LastAlterName,LastAlterTimeStamp,RequestTxtOverflow,AccessCount,LastAccessTimeStamp,UtilVersion,QueueFlag,CommitOpt,TransLog,CheckOpt,TemporalProperty,ResolvedCurrent_Date,ResolvedCurrent_Timestamp,SystemDefinedJI,VTQualifier,TTQualifier,PIColumnCount,PartitioningLevels,LoadProperty,CurrentLoadId,LoadIdLayout,DelayedJI,LastArchiveId,LastFullArchiveId,BlockSize,FreeSpacePercent,MergeBlockRatio,CheckSum,BlockCompression,BlockCompressionAlgorithm,BlockCompressionLevel,TableHeaderFormat,RowSizeFormat,MapName,ColocationName,TVMFlavor,FastAlterTable,IncrementalRestoreEnabled,AuthName
1,TD_SERVER_DB,TD_PushProfileInfo,1,T,F,NN,DBC,"CREATE SET TABLE TD_SERVER_DB.TD_PushProfileInfo, FALLBACK, NO BEFORE JOURNAL, NO AFTER JOURNAL, CHECKSUM = DEFAULT, DEFAULT MERGEBLOCKRATIO ( PushProfileID INTEGER NOT NULL, PushProfileName VARCHAR(128) CHARACTER SET UNICODE NOT CASESPECIFIC NOT NULL, RemoteSystemFlavour VARCHAR(128) CHARACTER SET UNICODE NOT CASESPECIFIC NOT NULL, RemoteSystemVersion VARCHAR(128) CHARACTER SET UNICODE NOT CASESPECIFIC NOT NULL, Hosttype VARCHAR(64) CHARACTER SET UNICODE NOT CASESPECIFIC NOT NULL, RemoteMapping JSON(8388096) CHARACTER SET UNICODE, RemoteMappingInternal VARBYTE(30000), ProfileInstallVersion INTEGER NOT NULL) UNIQUE PRIMARY INDEX (PushProfileName), UNIQUE INDEX(PushProfileID);",The TD_SERVER_DB.TD_PushProfileInfo controls the operations that can be push to remote databases.,0,0,0,N,,,2023-12-18 10:09:05,DBC,2023-12-18 10:09:05,,,,1,N,N,Y,N,N,,,N,,,1,0,,,,,,,,,60,,DEFAULT,DEFAULT,DEFAULT,0,0,TD_Map1,,,,,
2,TD_ANALYTICS_DB,METADATA_OBJECTS,1,T,F,NN,DBC,"CREATE TABLE TD_ANALYTICS_DB.METADATA_OBJECTS( ObjectName VARCHAR(128) CHARACTER SET UNICODE, ObjectType VARCHAR(100) CHARACTER SET UNICODE, VarcharCol VARCHAR(32000) CHARACTER SET UNICODE, ClobCol CLOB CHARACTER SET UNICODE, VarbyteCol VARBYTE(64000), BlobCol BLOB, JsonCol JSON INLINE LENGTH 32000 CHARACTER SET UNICODE, DatasetCol DATASET INLINE LENGTH 64000 STORAGE FORMAT AVRO, CHECK ( (VarcharCol IS NOT NULL AND ClobCol IS NULL AND VarbyteCol IS NULL AND BlobCol IS NULL AND JsonCol IS NULL AND DatasetCol IS NULL) OR (VarcharCol IS NULL AND ClobCol IS NOT NULL AND VarbyteCol IS NULL AND BlobCol IS NULL AND JsonCol IS NULL AND DatasetCol IS NULL) OR (VarcharCol IS NULL AND ClobCol IS NULL AND VarbyteCol IS NOT NULL AND BlobCol IS NULL AND JsonCol IS NULL AND DatasetCol IS NULL) OR (VarcharCol IS NULL AND ClobCol IS NULL AND VarbyteCol IS NULL AND BlobCol IS NOT NULL AND JsonCol IS NULL AND DatasetCol IS NULL) OR (VarcharCol IS NULL AND ClobCol IS NULL AND VarbyteCol IS NULL AND BlobCol IS NULL AND JsonCol IS NOT NULL AND DatasetCol IS NULL) OR (VarcharCol IS NULL AND ClobCol IS NULL AND VarbyteCol IS NULL AND BlobCol IS NULL AND JsonCol IS NULL AND DatasetCol IS NOT NULL) ) )UNIQUE PRIMARY INDEX(ObjectName);",Table to store metadata object which will be use by analytic functions.,0,0,0,Y,,,2023-12-18 10:02:44,DBC,2023-12-18 10:02:44,,,,1,N,N,Y,N,N,,,N,,,1,0,,,,,,,,,,,DEFAULT,DEFAULT,DEFAULT,0,1,TD_Map1,,,,,
3,tdwm,Actions,1,T,F,NN,DBC,"CREATE TABLE Actions ( ActionId INTEGER NOT NULL, CreateDate INTEGER NOT NULL, CreateTime INTEGER FORMAT '99:99:99' NOT NULL, RemoveDate INTEGER NOT NULL, RemoveTime INTEGER FORMAT '99:99:99' NOT NULL, Description VARCHAR(80) CHARACTER SET UNICODE, ConfigId INTEGER NOT NULL, ParentId INTEGER NOT NULL, VersionNo INTEGER NOT NULL, ActionName VARCHAR(30) CHARACTER SET UNICODE NOT NULL, ActionType VARCHAR(10) CHARACTER SET UNICODE NOT NULL, SysConId INTEGER, OpEnvId INTEGER, ActionValue INTEGER, ActionInfo VARCHAR(120) CHARACTER SET UNICODE) PRIMARY INDEX (ActionId);",,0,0,0,N,,,2023-12-18 10:10:54,DBC,2023-12-18 10:10:54,,,,1,N,N,Y,N,N,,,N,,,1,0,,,,,,,,,,,DEFAULT,DEFAULT,DEFAULT,0,0,TD_Map1,,,,,
4,tdwm,AllocGroups,1,T,F,NN,DBC,"CREATE TABLE AllocGroups ( AllocGroupId INTEGER NOT NULL, CreateDate INTEGER NOT NULL, CreateTime INTEGER FORMAT '99:99:99' NOT NULL, RemoveDate INTEGER NOT NULL, RemoveTime INTEGER FORMAT '99:99:99' NOT NULL, Description VARCHAR(80) CHARACTER SET UNICODE, ConfigId INTEGER NOT NULL, ParentId INTEGER NOT NULL, VersionNo INTEGER NOT NULL, RscPartitionId INTEGER NOT NULL, AGName VARCHAR(16) CHARACTER SET UNICODE NOT NULL, AGNumber INTEGER, SlgPriority INTEGER) PRIMARY INDEX (AllocGroupId);",,0,0,0,N,,,2023-12-18 10:10:57,DBC,2023-12-18 10:10:57,,,,1,N,N,Y,N,N,,,N,,,1,0,,,,,,,,,,,DEFAULT,DEFAULT,DEFAULT,0,0,TD_Map1,,,,,
5,tdwm,AllocGroupStates,1,T,F,NN,DBC,"CREATE TABLE AllocGroupStates ( AllocGroupId INTEGER NOT NULL, StateId INTEGER NOT NULL, CreateDate INTEGER NOT NULL, CreateTime INTEGER FORMAT '99:99:99' NOT NULL, RemoveDate INTEGER NOT NULL, RemoveTime INTEGER FORMAT '99:99:99' NOT NULL, Description VARCHAR(80) CHARACTER SET UNICODE, ConfigId INTEGER NOT NULL, ParentId INTEGER NOT NULL, VersionNo INTEGER NOT NULL, Expedited INTEGER DEFAULT 0, AGWeight INTEGER, CpuLimit INTEGER) PRIMARY INDEX (AllocGroupId, StateId);",,0,0,0,N,,,2023-12-18 10:10:57,DBC,2023-12-18 10:10:57,,,,1,N,N,Y,N,N,,,N,,,2,0,,,,,,,,,,,DEFAULT,DEFAULT,DEFAULT,0,0,TD_Map1,,,,,

<hr style="height:2px;border:none;background-color:#00233C;">
<p style = 'font-size:20px;font-family:Arial;color:#00233C'><b>Aggregation</b></p>

<p style = 'font-size:16px;font-family:Arial;color:#00233C'>We can aggregate multiple rows together in a similar way as pivot tables work in Excel. For example, to count how many object (tables, views, macros, stored procedures, functions, etc) we have with the same name in Vantage, we would do:</p>

In [12]:
SELECT TOP 5 DatabaseName, count(*) as ObjectCount FROM DBC.TablesV
GROUP BY DatabaseName  
ORDER BY DatabaseName

,DataBaseName,ObjectCount
1,DBC,872
2,dbcmngr,2
3,DemoNow_Monitor,1
4,DEMO_GraphAnalysis,1
5,DEMO_GraphAnalysis_db,1


<p style = 'font-size:16px;font-family:Arial;color:#00233C'>In the <b>SELECT</b> example below, we use a sub query to aggregate object size within a database, then we use functions to get the minimum and maximum object size and count for each database.  (The counts are different from above because views and macros take no space).</p>

<p style = 'font-size:16px;font-family:Arial;color:#00233C'>There are multiple aggregation functions:</p>

<ul style = 'font-size:16px;font-family:Arial;color:#00233C'>
    <li>SUM(X) to sum all the X values</li>
<li>AVG(X) for the average of X</li>
<li>MIN(X) for the smallest X value</li>
<li>MAX(X) for the largest X value</li>
</ul>

<p style = 'font-size:16px;font-family:Arial;color:#00233C'>For example:</p>

In [13]:
SELECT
    TOP 5 databasename,
    MIN(TableBytes)  AS MinSize,
    MAX(TableBytes)  AS MaxSize,
    COUNT(*) AS #Objects_Using_Space
FROM (
    SELECT
        DatabaseName,
        TableName,
        Sum(CurrentPerm) AS TableBytes   
        FROM DBC.TablesizeV
        GROUP By DatabaseName, Tablename
    ) AS Subtotals 
GROUP BY DatabaseName order by DatabaseName;

,DataBaseName,MinSize,MaxSize,#Objects_Using_Space
1,DBC,53248,142737408,189
2,dbcmngr,65536,65536,2
3,DemoNow_Monitor,98304,98304,1
4,DEMO_GraphAnalysis_db,196608,196608,1
5,demo_user,98304,2088960,52

<p style = 'font-size:16px;font-family:Arial;color:#00233C'>For courageous readers, you can also try the following aggregation functions:</p>

<ul style = 'font-size:16px;font-family:Arial;color:#00233C'>
<li>STDDEV_POP(X) and STDDEV_SAMP(X) to measure the standard deviation of the X distribution (for the full population, and for a sampled population)
<li>VAR_POP(X) and VAR_SAMP(X) to measure the variance of the X distribution (for the full population, and for a sampled population)
<li>COVAR_POP(X,Y) and COVAR_SAMP(X,Y) to measure the covariance between X and Y (for the full population, and for a sampled population)
<li>CORR(X,Y) to measure the correlation between the columns X and Y
<li>KURTOSIS(X) to measure the kurtosis of the X distribution **minus** 3 (the tailed ness of the distribution, it should be around 0 for a Normal/Gaussian distribution)
<li>SKEW(X) to measure the skewness of the X distribution (the asymmetry of the distribution, it should be around 0 for a Normal/Gaussian distribution) 
</ul>

<footer style="padding-bottom:35px; background:#f9f9f9; border-bottom:3px solid #00233C">
    <div style="float:left;margin-top:14px">ClearScape Analytics™</div>
    <div style="float:right;">
        <div style="float:left; margin-top:14px">
            Copyright © Teradata Corporation - 2023. All Rights Reserved
        </div>
    </div>
</footer>